<!-- <div class="bg-circle"></div> -->
<div *ngIf="newsDetail">
  <div class="vertical">

    <div class="card-newdetail">
      <div class="back-button" (click)="goBack()">
        <span class="arrow">←</span>
        <span class="text">{{ 'returnHomePage' | translate }}</span>
      </div>
      <div class="spacer"></div>
      <div class="spacer"></div>
      <div class="card-detail">
        <!-- <span class="news-date">{{ formatThaiDate(newsDetail.createDate) }} | {{newsDetail.createBy}}</span> -->

        <img [src]="newsDetail.imageUrl" alt="" class="img-logo-des">
        <h1 [ngClass]=" deviceSize == 'm' ? 'p24' : deviceSize == 't' ? 'p28' : 'p40' " class="txt-title"
          *ngIf="translate.currentLang === 'th'">{{ newsDetail.title }}</h1>
        <h1 [ngClass]=" deviceSize == 'm' ? 'p24' : deviceSize == 't' ? 'p28' : 'p40' " class="txt-title"
          *ngIf="translate.currentLang === 'en'">{{ newsDetail.titleEN }}</h1>
        <div [ngClass]=" deviceSize == 'm' ? 'p18' : deviceSize == 't' ? 'p20' : 'p20' " class="txt-description"
          [innerHTML]="newsDetail.description" *ngIf="translate.currentLang === 'th'"></div>
        <div [ngClass]=" deviceSize == 'm' ? 'p18' : deviceSize == 't' ? 'p20' : 'p20' " class="txt-description"
          [innerHTML]="newsDetail.descriptionEN" *ngIf="translate.currentLang === 'en'">
        </div>
      </div>
    </div>
  </div>
</div>