<div class="container-header" data-aos="zoom-in-up">
  <div class="header-container"></div>
  <div class="header-text">
    <h1 class="title">{{ 'aboutParty' | translate }} </h1>
    <p class="title">{{ 'home' | translate }} // {{ 'ideology' | translate }} // <span class="sub-title">{{ 'policy' |
        translate }}</span></p>
  </div>
</div>
<div class="policy-section">
  <div class="section-header" data-aos="fade-left">
    <h2>{{ 'policy' |
      translate }}{{ 'thaiKaoMai' |
      translate }}</h2>
    <div class="underline"></div>
  </div>
  <div data-aos="fade-right">
    <div *ngFor="let policy of policies; let i = index" class="policy-box">
      <div class="image-wrapper">
        <img [src]="policy.imageUrl" alt="policy image" />
      </div>
      <div class="text-wrapper">
        <h3>{{ policy.title }}</h3>
        <p>{{ policy.description }}</p>
        <button class="more-btn" (click)="goToDetail(policy)">
          {{ 'viewMore' |
          translate }} <span class="arrow">→</span>
        </button>
      </div>
    </div>
  </div>
  <div class="navigation-buttons">
    <button class="nav-btn left-btn" [routerLink]="['/history']">← {{'history' |
      translate}}</button>
    <button class="nav-btn right-btn" [routerLink]="['/party-executive']">{{ 'partyExecutiveCommittee'| translate }}
      →</button>
  </div>
</div>
