<div class="container-header" data-aos="zoom-in-up">
  <div class="header-container"></div>
  <div class="header-text">
    <h1 class="title" [ngClass]="deviceSize == 'm' ? 'p20' : deviceSize == 't' ? 'p30' : 'p50'">{{ 'aboutParty' | translate }} </h1>
    <p class="title" [ngClass]="deviceSize == 'm' ? 'p12' : deviceSize == 't' ? 'p20' : 'p20'">{{ 'home' | translate }} // {{ 'ideology' | translate }} // <span class="sub-title">{{ 'policy' |
        translate }}</span></p>
  </div>
</div>
<div class="policy-section">
  <div class="section-header" data-aos="fade-left">
    <h2  class="p32">{{ 'policy' |
      translate }}{{ 'thaiKaoMai' |
      translate }}</h2>
    <div class="underline"></div>
  </div>
  <div data-aos="fade-right">
    <div *ngFor="let policy of model; let i = index" class="policy-box">
      <div class="image-wrapper">
        <img [src]="policy.imageUrl" alt="policy image" />
      </div>
      <div class="text-wrapper">
        <h3  class="p24" *ngIf="translate.currentLang === 'th'">{{ policy.title }}</h3>
        <h3  class="p24" *ngIf="translate.currentLang === 'en'">{{ policy.titleEN }}</h3>
        <p  class="p16" *ngIf="translate.currentLang === 'th'" [innerHTML]="policy.description"></p>
        <p  class="p16" *ngIf="translate.currentLang === 'en'" [innerHTML]="policy.descriptionEN"></p>
        <button class="more-btn p14" [routerLink]="['/policy-detail', policy.code]">
          {{ 'viewMore' |
          translate }} <span class="arrow">→</span>
        </button>
      </div>
    </div>
  </div>
  <div class="navigation-buttons">
    <button class="nav-btn p20 left-btn" [routerLink]="['/history']">← {{'history' |
      translate}}</button>
    <button class="nav-btn p20 right-btn" [routerLink]="['/party-executive']">{{ 'partyExecutiveCommittee'| translate }}
      →</button>
  </div>
</div>

<!-- <div class="overlay-main">
  <app-coming-soon></app-coming-soon>
</div> -->
