<div class="container-header" data-aos="zoom-in-up">
  <div class="header-container"></div>
  <div class="header-text">
    <h1 class="title">{{ 'newsAndEvent' | translate }}</h1>
    <p class="title">{{ 'home' | translate }} // <span class="sub-title">{{ 'newsAndEvent' | translate }}</span></p>
  </div>
</div>
<div class="vertical">
  <div class="news-section">
    <div class="section-header">
      <h3 [ngClass]=" deviceSize == 'm' ? 'p24' : deviceSize == 't' ? 'p32' : 'p36' " >{{ 'newsAndEvent' | translate }}</h3>
    </div>
    <div class="news-highlight" data-aos="zoom-in">
      <div class="card-highlight" *ngFor="let item of newsHighlight.slice(0, 2)"
        [routerLink]="['/newsdetail', item.code]">
        <div class="card-image-highlight">
          <img class="news-image" [src]="item.imageUrl" [alt]="item.title">
          <div class="image-overlay"></div>
        </div>
        <div class="card-content">
          <span class="news-date">{{ formatThaiDate(item.createDate) }} | {{item.createBy}}</span>
          <h4  [ngClass]=" deviceSize == 'm' ? 'p16' : deviceSize == 't' ? 'p18' : 'p20' " class="news-title" *ngIf="translate.currentLang === 'th'">{{ item.title }}</h4>
          <h4  [ngClass]=" deviceSize == 'm' ? 'p16' : deviceSize == 't' ? 'p18' : 'p20' " class="news-title" *ngIf="translate.currentLang === 'en'">{{ item.titleEN }}</h4>
          <div  [ngClass]=" deviceSize == 'm' ? 'p12' : deviceSize == 't' ? 'p13' : 'p14'" class="news-description" [innerHTML]="item.description" *ngIf="translate.currentLang === 'th'">
          </div>
          <div [ngClass]=" deviceSize == 'm' ? 'p12' : deviceSize == 't' ? 'p13' : 'p14'"  class="news-description" [innerHTML]="item.descriptionEN" *ngIf="translate.currentLang === 'en'"></div>
        </div>
      </div>
    </div>

    <div class="news-container" data-aos="fade-right">
      <div class="card-news" *ngFor="let item of newsList" [routerLink]="['/newsdetail', item.code]">
        <div class="card-image">
          <img class="news-image" [src]="item.imageUrl" [alt]="item.title">
          <div class="image-overlay"></div>
        </div>
        <div class="card-content">
          <span class="news-date">{{ formatThaiDate(item.createDate) }} | {{item.createBy}}</span>
          <h4 [ngClass]=" deviceSize == 'm' ? 'p16' : deviceSize == 't' ? 'p18' : 'p20' "class="news-title" *ngIf="translate.currentLang === 'th'">{{ item.title }}</h4>
          <h4 [ngClass]=" deviceSize == 'm' ? 'p16' : deviceSize == 't' ? 'p18' : 'p20' " class="news-title" *ngIf="translate.currentLang === 'en'">{{ item.titleEN }}</h4>
          <div [ngClass]=" deviceSize == 'm' ? 'p12' : deviceSize == 't' ? 'p13' : 'p14'"class="news-description" [innerHTML]="item.description" *ngIf="translate.currentLang === 'th'">
          </div>
          <div [ngClass]=" deviceSize == 'm' ? 'p12' : deviceSize == 't' ? 'p13' : 'p14'"class="news-description" [innerHTML]="item.descriptionEN" *ngIf="translate.currentLang === 'en'"></div>
        </div>
      </div>
    </div>
  </div>
</div>
