<div *ngIf="isShow == 'true'" class="div-header d-none d-lg-block"
  >
  <div class="header">
    <div class="content-header">
      <a routerLink="" class="div-logo-header" data-aos="fade-down" data-aos-duration="1000"><img
          src="./assets/img/logo-full-c2.png" alt="" class="logo-header filter-w-y"></a>
      <div class="menu-group" data-aos="fade-down" data-aos-duration="1000">
        <div class="dropdown" style="float:left;">
          <div class="pointer dropbtn">
            <div class="btn-blindness">
              <img class="img" src="./assets/img/blindness.png" width="31" height="21"
                style="color: var(--color-white);" />
            </div>
          </div>
          <div class="dropdown-content" style="left:0;">
            <div class="dropdown-item-header">{{ 'fontSize' | translate }}</div>
            <a [ngClass]="{'dropdown-item-active':fontSizeSelect == 0}" class="dropdown-item-blindness"
              (click)="changeSizeFont(0)"><span style="font-size: var(--font-14)">ก</span>&nbsp; {{ 'normal' | translate }}</a>
            <a [ngClass]="{'dropdown-item-active':fontSizeSelect == 1}" class="dropdown-item-blindness"
              (click)="changeSizeFont(1)"><span style="font-size: var(--font-17)">ก</span>&nbsp; {{ 'medial' | translate }}</a>
            <a [ngClass]="{'dropdown-item-active':fontSizeSelect == 2}" class="dropdown-item-blindness"
              (click)="changeSizeFont(2)"><span style="font-size: var(--font-20)">ก</span>&nbsp; {{ 'big' | translate }}</a>
            <div class="dropdown-item-header" style="margin-top: 10px;">{{ 'colorContrast' | translate }}</div>
            <a [ngClass]="{'dropdown-item-active':selectedTheme == ''}" class="dropdown-item-blindness"
              (click)="changeTheme('')"><img
                src="data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100'><rect width='100' height='100' fill='%23800080'/><polygon points='0,100 0,0 100,100' fill='%23ff0000'/></svg>"
                width="25" height="25" />&nbsp; {{ 'normal' | translate }}</a>
            <a [ngClass]="{'dropdown-item-active':selectedTheme == 'dark-theme'}" class="dropdown-item-blindness"
              (click)="changeTheme('dark-theme')"><img
                src="data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100'><rect width='100' height='100' fill='%23111'/><polygon points='0,100 0,0 100,100' fill='%23ffffff'/></svg>"
                width="25" height="25" />&nbsp; {{ 'white' | translate }}-{{ 'black'
              |
              translate }}</a>
            <a [ngClass]="{'dropdown-item-active':selectedTheme == 'blindness-theme'}" class="dropdown-item-blindness"
              (click)="changeTheme('blindness-theme')"><img
                src="data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100'><rect width='100' height='100' fill='%23ffff4d'/><polygon points='0,100 0,0 100,100' fill='%23111'/></svg>"
                width="25" height="25" />&nbsp; {{
              'black' | translate }}-{{ 'yellow' | translate }}</a>
          </div>
        </div>
        <a class="p17" routerLink="./home">{{ 'home' | translate }}</a>
        <div class="menu-with-sub pointer">
          <a class="p17" routerLink="./news">{{ 'newsAndEvent' | translate }}</a>
          <div class="sub-menu ">
            <a class="p17" routerLink="./news">{{ 'newsAndEvent' | translate }}</a>
            <a class="p17" routerLink="./event-calendar">{{ 'eventCalendar' | translate }}</a>
          </div>
        </div>

        <div class="menu-with-sub pointer">
          <a class="p17" routerLink="#">{{ 'aboutMe' | translate }}</a>
          <div class="sub-menu">
            <a class="p17" routerLink="./ideology">{{ 'ideology' | translate }}</a>
            <a class="p17" routerLink="./history">{{ 'history' | translate }}</a>
            <a class="p17" routerLink="./policy">{{ 'policy' | translate }}</a>
            <a class="p17" routerLink="./party-executive">{{ 'partyExecutiveCommittee' | translate }}</a>
          </div>
        </div>
        <div class="menu-with-sub pointer">
          <a class="p17" routerLink="#">{{ 'membership' | translate }}</a>
          <div class="sub-menu">
            <a class="p17" routerLink="./register">{{ 'partymembers'| translate }}</a>
            <a class="p17" routerLink="./register-member">{{ 'registerPartyClub'| translate }}</a>
            <a class="p17" routerLink="./suggestion">{{ 'suggestion' | translate }}</a>
          </div>
        </div>


        <a class="p17" routerLink="./donate">{{ 'donate' | translate }}</a>
        <a class="p17" routerLink="./contact">{{ 'contactUs' | translate }}</a>


        <!-- <div class="dropdown-container" style="width: 120px;">
          <div class="dropdown-selected" (click)="toggleDropdown3()">
            🅣 ปกติ
          </div>

          <div class="dropdown-list" *ngIf="isOpen3">
            <div class="dropdown-option" (click)="changeSizeFont(0)">
              🅣 ปกติ
            </div>
            <div class="dropdown-option" (click)="changeSizeFont(1)">
              🅣 กลาง
            </div>
            <div class="dropdown-option" (click)="changeSizeFont(2)">
              🅣 ใหญ่
            </div>
          </div>


        </div>


        <div class="dropdown-container" style="width: 120px;">
          <div class="dropdown-selected" (click)="toggleDropdown2()">
            👁️‍🗨️ ปกติ
          </div>

          <div class="dropdown-list" *ngIf="isOpen2">
            <div class="dropdown-option" (click)="changeTheme('')">
              👁️‍🗨️ ปกติ
            </div>
            <div class="dropdown-option" (click)="changeTheme('dark-theme')">
              👁️‍🗨️ ขาว-ดำ
            </div>
            <div class="dropdown-option" (click)="changeTheme('blindness-theme')">
              👁️‍🗨️ ตาบอดสี
            </div>
          </div>


        </div> -->

        <div class="dropdown-container">
          <div class="dropdown-selected" (click)="toggleDropdown()">
            <img [src]="selected.icon" class="flag"> {{ selected.name }}
          </div>

          <div class="dropdown-list" *ngIf="isOpen">
            <div class="dropdown-option" *ngFor="let option of langList" (click)="selectOption(option)">
              <img [src]="option.icon" class="flag"> {{ option.name }}
            </div>
          </div>
        </div>

        <!-- <img src="./assets/icons/icon-eye.png" alt="" class="logo-header" data-aos="fade-down" data-aos-duration="600"> -->
        <!-- <select [(ngModel)]="selectedTheme" (change)="changeTheme(selectedTheme)">
          <option value="" selected>ปกติ</option>
          <option value="dark-theme">ขาว-ดำ</option>
          <option value="blindness-theme">ตาบอดสี</option>
        </select>

        <select [(ngModel)]="fontSizeSelect" (change)="changeSizeFont(fontSizeSelect)">
          <option value="0" selected>ปกติ</option>
          <option value="1">กลาง</option>
          <option value="2">ใหญ่</option>
        </select> -->


      </div>
    </div>
  </div>
  <!-- <div class="scroll-watcher"></div> -->

</div>
<!-- [ngStyle]="{'position': scrollPosition ? 'fixed' : position}" -->

<div *ngIf="isShow == 'true'" class="div-header d-block d-lg-none"
  >
  <div class="header">
    <div class="content-header">
      <a routerLink="" class="div-logo-header" data-aos="fade-down" data-aos-duration="1000"><img
          src="./assets/img/logo-full-c2.png" alt="" class="logo-header-berger filter-w-y" data-aos="fade-down"
          data-aos-duration="300"></a>
      <div class="action-right">

        <!-- <div class="dropdown-container">
          <div class="dropdown-selected" (click)="toggleDropdown()">
            <img [src]="selected.icon" class="flag"> {{ selected.name }}
          </div>

          <div class="dropdown-list" *ngIf="isOpen">
            <div class="dropdown-option" *ngFor="let option of langList" (click)="selectOption(option)">
              <img [src]="option.icon" class="flag"> {{ option.name }}
            </div>
          </div>
        </div> -->
        <!-- <img src="./assets/icons/icon-eye.png" alt="" class="logo-header" data-aos="fade-down" data-aos-duration="600"> -->

        <div class="dropdown" style="float:left;">
          <div class="pointer dropbtn">
            <div class="btn-blindness">
              <img class="img" src="./assets/img/blindness.png" width="31" height="21"
                style="color: var(--color-white);" />
            </div>
          </div>
          <div class="dropdown-content" style="right:0;">
            <div class="dropdown-item-header">ขนาดตัวหนังสือ</div>
            <a class="dropdown-item-blindness" [ngClass]="{'dropdown-item-active':fontSizeSelect == 0}"
              (click)="changeSizeFont(0)"><span style="font-size: var(--font-14)">ก</span>&nbsp; {{ 'normal' | translate }}</a>
            <a class="dropdown-item-blindness" [ngClass]="{'dropdown-item-active':fontSizeSelect == 1}"
              (click)="changeSizeFont(1)"><span style="font-size: var(--font-17)">ก</span>&nbsp; {{ 'medial' | translate }}</a>
            <a class="dropdown-item-blindness" [ngClass]="{'dropdown-item-active':fontSizeSelect == 2}"
              (click)="changeSizeFont(2)"><span style="font-size: var(--font-20)">ก</span>&nbsp; {{ 'big' | translate }}</a>
            <div class="dropdown-item-header" style="margin-top: 10px;">ความตัดกันของสี</div>
            <a class="dropdown-item-blindness" [ngClass]="{'dropdown-item-active':selectedTheme == ''}"
              (click)="changeTheme('')"><img
                src="data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100'><rect width='100' height='100' fill='%23800080'/><polygon points='0,100 0,0 100,100' fill='%23ff0000'/></svg>"
                width="25" height="25" />&nbsp; {{ 'normal' | translate }}</a>
            <a class="dropdown-item-blindness" [ngClass]="{'dropdown-item-active':selectedTheme == 'dark-theme'}"
              (click)="changeTheme('dark-theme')"><img
                src="data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100'><rect width='100' height='100' fill='%23111'/><polygon points='0,100 0,0 100,100' fill='%23ffffff'/></svg>"
                width="25" height="25" />&nbsp; {{ 'white' | translate }}-{{ 'black'
              |
              translate }}</a>
            <a class="dropdown-item-blindness" [ngClass]="{'dropdown-item-active':selectedTheme == 'blindness-theme'}"
              (click)="changeTheme('blindness-theme')"><img
                src="data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100'><rect width='100' height='100' fill='%23ffff4d'/><polygon points='0,100 0,0 100,100' fill='%23111'/></svg>"
                width="25" height="25" />&nbsp; {{
              'black' | translate }}-{{ 'yellow' | translate }}</a>
          </div>
        </div>
        <!-- <div class="dropdown-container" style="width: 120px;">
          <div class="dropdown-selected" (click)="toggleDropdown3()">
            🅣 ปกติ
          </div>

          <div class="dropdown-list" *ngIf="isOpen3">
            <div class="dropdown-option" (click)="changeSizeFont(0)">
              🅣 ปกติ
            </div>
            <div class="dropdown-option" (click)="changeSizeFont(1)">
              🅣 กลาง
            </div>
            <div class="dropdown-option" (click)="changeSizeFont(2)">
              🅣 ใหญ่
            </div>
          </div>


        </div>


        <div class="dropdown-container" style="width: 120px;">
          <div class="dropdown-selected" (click)="toggleDropdown2()">
            👁️‍🗨️ ปกติ
          </div>

          <div class="dropdown-list" *ngIf="isOpen2">
            <div class="dropdown-option" (click)="changeTheme('')">
              👁️‍🗨️ ปกติ
            </div>
            <div class="dropdown-option" (click)="changeTheme('dark-theme')">
              👁️‍🗨️ ขาว-ดำ
            </div>
            <div class="dropdown-option" (click)="changeTheme('blindness-theme')">
              👁️‍🗨️ ตาบอดสี
            </div>
          </div>


        </div> -->
        <!-- <select [(ngModel)]="fontSizeSelect" (change)="changeSizeFont(fontSizeSelect)">
          <option value="0" selected>ปกติ</option>
          <option value="1">กลาง</option>
          <option value="2">ใหญ่</option>
        </select>
        <select [(ngModel)]="selectedTheme" (change)="changeTheme(selectedTheme)">
          <option value="" selected>ปกติ</option>
          <option value="dark-theme">ขาว-ดำ</option>
          <option value="blindness-theme">ตาบอดสี</option>
        </select> -->
        <div class="dropdown-container">
          <div class="dropdown-selected" (click)="toggleDropdown()">
            <img [src]="selected.icon" class="flag"> {{ selected.name }}
          </div>

          <div class="dropdown-list" *ngIf="isOpen">
            <div class="dropdown-option" *ngFor="let option of langList" (click)="selectOption(option)">
              <img [src]="option.icon" class="flag"> {{ option.name }}
            </div>
          </div>
        </div>
        <img src="./assets/icons/icon-hamburger.png" alt="" class="logo-header-berger" (click)="openHam()"
          data-aos="fade-down" data-aos-duration="800">
      </div>

    </div>
  </div>

  <div class="div-sub-menu-nav" >
    <div class="backdrop" *ngIf="isOpenNav" (click)="closeHam()"></div>

    <nav class="sub-menu-nav" [class.open]="isOpenNav">
      <ul>
        <li><a (click)="closeHam()" routerLink="./home">{{ 'home' | translate }}</a></li>

        <li class="has-submenu" [class.open]="activeSubMenu === 'news'">
          <a (click)="toggleSubMenu('news')">
            {{ 'newsAndEvent' | translate }}
            <span class="arrow-down"></span>
          </a>
          <ul class="submenu">
            <li><a (click)="closeHam()" routerLink="./news">{{ 'newsAndEvent' | translate }}</a></li>
            <li><a (click)="closeHam()" routerLink="./event-calendar">{{ 'eventCalendar' | translate }}</a></li>
          </ul>
        </li>

        <li class="has-submenu" [class.open]="activeSubMenu === 'about'">
          <a (click)="toggleSubMenu('about')">
            {{ 'aboutMe' | translate }}
            <span class="arrow-down"></span>
          </a>
          <ul class="submenu">
            <li><a (click)="closeHam()" routerLink="./ideology">{{ 'ideology' | translate}}</a></li>
            <li><a (click)="closeHam()" routerLink="./history">{{ 'history'| translate }}</a></li>
            <li><a (click)="closeHam()" routerLink="./policy">{{ 'policy'| translate }}</a></li>
            <li><a (click)="closeHam()" routerLink="./party-executive">{{ 'partyExecutiveCommittee'| translate }}</a>
            </li>
          </ul>
        </li>

        <li class="has-submenu" [class.open]="activeSubMenu === 'membership'">
          <a (click)="toggleSubMenu('membership')">
            {{ 'membership' | translate }}
            <span class="arrow-down"></span>
          </a>
          <ul class="submenu">
            <li><a (click)="closeHam()" routerLink="./register">{{ 'partymembers'| translate }}</a></li>
            <li><a (click)="closeHam()" routerLink="./register-member">{{ 'registerPartyClub'| translate }}</a></li>
            <li><a (click)="closeHam()" routerLink="./suggestion">{{ 'suggestion'| translate }}</a></li>
          </ul>
        </li>

        <li><a (click)="closeHam()" routerLink="./donate">{{ 'donate' | translate }}</a></li>
        <li><a (click)="closeHam()" routerLink="./contact">{{ 'contactUs' | translate }}</a></li>
      </ul>
    </nav>
  </div>

</div>
<!-- <div  [ngStyle]="{'margin-bottom': scrollPosition ? '12px' : '0'}">&nbsp;</div> -->
<!-- <div *ngIf="isActiveMarginBTM" [ngStyle]="{'margin-bottom': scrollPosition ? '82px' : '0'}"></div> -->
