<div *ngIf="isShow == 'true'" class="div-header d-none d-lg-block" [ngStyle]="{'position': scrollPosition ? 'fixed' : position}">
  <div class="header">
    <div class="content-header">
      <a routerLink="" class="div-logo-header"  data-aos="fade-down" data-aos-duration="1000"><img src="./assets/img/logo-full-c2.png" alt="" class="logo-header"></a>
      <div class="menu-group" data-aos="fade-down" data-aos-duration="1000">
        <a routerLink="" >{{ 'home' | translate }}</a>
        <a routerLink="./news">{{ 'newsAndEvent' | translate }}</a>
        <div class="menu-with-sub">
          <a routerLink="#">{{ 'aboutMe' | translate }}</a>
          <div class="sub-menu">
            <a routerLink="./ideology">อุดมการณ์ของพรรค</a>
            <a routerLink="./about/b">ประวัติความเป็นมา</a>
            <a routerLink="./about/c">นโยบาย</a>
            <a routerLink="./party-executive">กรรมการบริหารพรรค</a>
          </div>
        </div>

        <a routerLink="./product-and-service">{{ 'membership' | translate }}</a>
        <a routerLink="./product-and-service">{{ 'donate' | translate }}</a>
        <a routerLink="./contact">{{ 'contactUs' | translate }}</a>


        <!-- <div class="dropdown-container">
          <div class="dropdown-selected" (click)="toggleDropdown()">
            <img [src]="selected.icon" class="flag"> {{ selected.name }}
          </div>

          <div class="dropdown-list" *ngIf="isOpen">
            <div class="dropdown-option" *ngFor="let option of langList" (click)="selectOption(option)">
              <img [src]="option.icon" class="flag"> {{ option.name }}
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
  <!-- <div class="scroll-watcher"></div> -->

</div>
<!-- [ngStyle]="{'position': scrollPosition ? 'fixed' : position}" -->

<div *ngIf="isShow == 'true'" class="div-header d-block d-lg-none" [ngStyle]="{'position': scrollPosition ? 'fixed' : position}">
  <div class="header">
    <div class="content-header">
      <img src="./assets/img/logo-full-c2.png" alt="" class="logo-header" data-aos="fade-down" data-aos-duration="300">
      <div class="action-right">

        <!-- <div class="dropdown-container">
          <div class="dropdown-selected" (click)="toggleDropdown()">
            <img [src]="selected.icon" class="flag"> {{ selected.name }}
          </div>

          <div class="dropdown-list" *ngIf="isOpen">
            <div class="dropdown-option" *ngFor="let option of langList" (click)="selectOption(option)">
              <img [src]="option.icon" class="flag"> {{ option.name }}
            </div>
          </div>
        </div> -->
        <img src="./../../../assets/icons/icon-eye.png" alt="" class="logo-header" data-aos="fade-down" data-aos-duration="600">
        <img src="./../../../assets/icons/icon-hamburger.png" alt="" class="logo-header" (click)="openHam()" data-aos="fade-down" data-aos-duration="800">
      </div>

    </div>
  </div>

  <div class="div-sub-menu-nav" >
    <div class="backdrop" *ngIf="isOpenNav" (click)="closeHam()"></div>
    <div class="sub-menu-nav" [class.open]="isOpenNav">
      <a (click)="closeHam()" routerLink="">{{ 'home' | translate }}</a>
      <a (click)="closeHam()" routerLink="./news">{{ 'newsAndEvent' | translate }}</a>
      <a (click)="closeHam()" routerLink="./product-and-service">{{ 'productAndService' | translate }}</a>
      <a (click)="closeHam()" routerLink="./about">{{ 'aboutMe' | translate }}</a>
      <a (click)="closeHam()" routerLink="./contact">{{ 'contactUs' | translate }}</a>
    </div>
  </div>

  <!-- <div class="backdrop" *ngIf="subMenu" (click)="subMenu = false"></div> -->
</div>
<!-- <div  [ngStyle]="{'margin-bottom': scrollPosition ? '12px' : '0'}">&nbsp;</div> -->
<div *ngIf="isActiveMarginBTM" [ngStyle]="{'margin-bottom': scrollPosition ? '82px' : '0'}"></div>

