.payment-section {
  margin-bottom: 40px;
  /* หรือ 60px / 80px ตามต้องการ */
}

.contact-background {
  width: 100%;
}

.img-logo-main {
  width: 100%;
  height: 370px;
  object-fit: cover;
}







.wizard-steps {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 40px 0;
  font-family: 'Prompt', sans-serif;
  flex-wrap: wrap;
  /* ✅ ให้ wrap ได้ในจอเล็ก */
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120px;
  text-align: center;
}

.step .circle {
  width: 36px;
  height: 36px;
  background-color: var(--E6E6E6-b-b);
  border: 2px solid var(--E6E6E6-w-y);
  color: var(--black);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 8px;
}

.step.active .circle {
  background-color: var(--y-w-y);
  border: 2px solid var(--nevy);
  color: #000;
  /* เส้นขอบของขั้นตอนปัจจุบัน */
}

.step p {
  margin: 0;
  font-weight: bold;
  font-size: 14px;
  color: var(--black);
}

.line {
  flex-grow: 1;
  height: 2px;
  background-color: var(--e0e0e0-w-y);
  margin: 0 8px;
  max-width: 60px;
  min-width: 40px;
  /* ✅ เพิ่มขนาดขั้นต่ำ */
}

@media (max-width: 480px) {
  // .wizard-steps {
  //   flex-direction: column;
  //   gap: 12px;
  // }

  .line {
    width: 2px;
    height: 5px;
    background-color: #e0e0e0;
    margin: 8px 0;
  }

  .step {
    width: auto;
  }
}









.payment-methods {
  text-align: center;
  margin-top: 40px;
  font-family: 'Prompt', sans-serif;
  color: var(--black);
}

.payment-methods h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 24px;
}

.payment-options {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.payment-option {
  width: 120px;
  height: 140px;
  border: 2px solid var(--d9d9d9-w-y);
  border-radius: 12px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s ease;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.payment-option img {
  width: 48px;
  height: 48px;
  margin-bottom: 10px;
  filter: var(--filter-w-y);
}

.payment-option span {
  font-weight: bold;
  color: var(--nevy);
  /* สีปกติ */
  transition: color 0.3s ease;
}

.payment-option.selected span {
  color: var(--y-w-y-2);
  /* สีเมื่อถูกเลือก */
}

.payment-option.selected img {
  filter: var(--filter-b-b);
  /* สีเมื่อถูกเลือก */
}

.payment-option.selected {
  border: 2px solid var(--y-w-y);
  background-color: var(--nevy);
  color: white;
}


.btn-next {
  margin-top: 30px;
  padding: 12px 40px;
  background-color: #2D294A;
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.btn-next:hover {
  background-color: #1a1832;
}





.receipt-form {
  margin: 0 auto;
  padding: 24px 24px;
  max-width: 800px;
  background: var(--white);
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  border: 1px solid var(--w-w-y);
}

.receipt-form {
  h3 {
    color: var(--black);
  }
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 16px;
}

.form-row input {
  flex: 1;
  padding: 12px;
  border-radius: 8px;
  font-size: 16px;
  border: 1px solid var(--ccc-w-y);
  background-color: var(--ccc-b-b);
  color: var(--black);
  outline: none;
}

.form-type-toggle {
  display: flex;
  margin-bottom: 16px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #eaeaea;
  border: 1;
  border: 1px solid var(--nevy);
}

.form-type-toggle button {
  flex: 1;
  padding: 12px;
  border: none;
  background: none;
  font-weight: bold;
  cursor: pointer;
  background-color: var(--white);
  color: var(--black);

}

.form-type-toggle .active {
  background-color: var(--nevy);
  color: var(--white);
}

.form-note {
  background: var(--e3e9ff-w-y);
  padding: 10px;
  font-size: 14px;
  color: black;
  border-radius: 6px;
  margin-bottom: 16px;
}

.form-actions {
  text-align: center;
  margin-top: 24px;
}

.form-actions button {
  margin: 0 8px;
}

.btn-back {
  padding: 12px 32px;
  background-color: var(--e0e0e0-b-b);
  color: var(--nevy);
  border: 1px solid var(--e0e0e0-w-y);
  border-radius: 12px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.btn-back:hover {
  background-color: var(--ccc-w-y);
  color: black;
}

.btn-next {
  padding: 12px 40px;
  background-color: var(--nevy);
  color: var(--white);
  border: none;
  border-radius: 12px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.btn-next:hover {
  background-color: var(--1a1832-w-y);
}





.donation-amount {
  margin-bottom: 32px;
  text-align: center;
}

.donation-amount h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 16px;
  color: var(--black);
}

.amount-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
}

.amount-options button {
  padding: 10px 20px;
  border: 2px solid var(--nevy);
  border-radius: 10px;
  background-color: var(--white);
  color: var(--nevy);
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.amount-options button.selected {
  background-color: var(--y-w-y);
  color: #2D294A;
  border: 2px solid var(--y-w-y);
}

.amount-options input[type="number"] {
  width: 180px;
  padding: 10px 14px;
  border: 2px solid var(--nevy);
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  background-color: var(--white);
  color: var(--black);
  outline: none;
}








.confirmation {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 20px;
  /* <<< เพิ่มระยะซ้าย-ขวา */
}

.confirmation {
  h3 {
    color: var(--black);
  }
}

.info-box {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  border: 1.5px solid var(--ddd-w-y);
  padding: 16px;
  border-radius: 12px;
  margin-bottom: 16px;
  background: var(--white);
}

.icon-wrapper {
  width: 48px;
  height: 48px;
  min-width: 48px;
  background-color: var(--f2f4f8-w-y);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-wrapper img {
  width: 24px;
  height: 24px;
}

.info-box label {
  font-weight: bold;
  color: var(--nevy);
  font-size: 14px;
}

.info-box div>div {
  font-size: 18px;
  font-weight: bold;
  color: var(--nevy);
}






.qr-section {
  max-width: 720px;
  margin: 0 auto;
  text-align: center;
  padding: 0 20px;
}

.qr-section h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 32px 0 16px;
  color: var(--nevy)
}

.logo-edonation {
  width: 260px;
  margin-bottom: 24px;
  filter: var(--filter);
}

.qr-wrapper {
  margin: 0 auto 32px;
}

.qr-image {
  width: 200px;
  height: 200px;
  filter: var(--filter);
}

.qr-instruction {
  font-size: 14px;
  color: var(--nevy);
  text-align: left;
  max-width: 580px;
  margin: 0 auto;
}

.qr-instruction strong {
  display: block;
  margin-bottom: 10px;
}







.thank-you-section {
  text-align: center;
  max-width: 600px;
  margin: 80px auto;
  padding: 20px;
  color: var(--nevy);
}

.thank-you-icon {
  width: 200px;
  margin-bottom: 24px;
  filter: var(--filter);
}

.thank-you-section h2 {
  font-size: 28px;
  margin-bottom: 16px;
}

.thank-you-section p {
  font-size: 16px;
  line-height: 1.6;
}

.popup-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;

  button {
    padding: 10px 20px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 1rem;
    background-color: var(--nevy);
    color: var(--white);
    font-weight: bold;
  }
}

.member-container {
  text-align: center;
  padding: 50px 20px;

  h2 {
    font-size: 2rem;
    margin-bottom: 40px;
    font-weight: bold;
    color: var(--y-w-y);
  }

  .digit-wrapper {
    display: flex;
    justify-content: center;
    align-items: baseline; // 👈 ให้ทุกอย่างอยู่แนวอักษรเดียวกัน
    gap: 8px;

    .digits {
      display: flex;
    }

    .digit {
      font-size: 3rem;
      font-weight: bold;
      color: var(--808080-w-y);
      display: flex;
      align-items: baseline;

      @media (max-width: 768px) {
        font-size: 2rem;
      }
    }

    .comma {
      font-size: 3rem;
      font-weight: bold;
      margin: 0 2px;
      color: var(--808080-w-y);

      @media (max-width: 768px) {
        font-size: 2rem;
      }
    }

    .unit {
      font-size: 1.5rem;
      font-weight: normal;
      color: var(--999999-w-y);
      align-self: baseline;
      padding-left: 4px;
    }
  }

  @media (max-width: 768px) {
    h2 {
      font-size: 1.2rem;
    }
  }

}

.gradient-box {
  padding: 20px;
  margin: 5% 0;
  position: relative;
  background: var(--nevy-b-b);
  overflow: hidden;
  border: 1px solid var(--nevy);
}


.bar-donation {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

.donation-container {
  background: var(--white);
  border: 3px solid var(--w-w-y);
  padding: 4px;
  border-radius: 8px;
  height: 50px;
  width: 100%;
  max-width: 700px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

}

.donation-bar {
  position: relative;
  height: 100%;
  background: var(--eeeeee-b-b);
  border-radius: 3px;
  overflow: hidden;
}

.donation-fill {
  height: 100%;
  width: 0%;
  background: linear-gradient(to right, var(--nevy-fade-1), var(--nevy-fade-2), var(--nevy-fade-3));
  transition: width 2s ease-in-out;
  position: relative;
  z-index: 1;
}

.donation-icon {
  position: absolute;
  top: -12px; // ลอยขึ้นเล็กน้อย
  transform: translateX(-50%); // center ตาม left %
  width: 48px;
  height: 48px;
  z-index: 2;
  pointer-events: none;
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.3));
  transition: left 2s ease-in-out;
}

.donation-info {
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
  color: var(--y-w-y);
}

.main {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
}
