<div class="container-header" data-aos="zoom-in-up">
  <div class="header-container"></div>

  <div class="header-text">
    <h1 class="title" [ngClass]="deviceSize == 'm' ? 'p20' : deviceSize == 't' ? 'p30' : 'p50'">{{ 'donate' | translate
      }}</h1>
    <p class="title" [ngClass]="deviceSize == 'm' ? 'p12' : deviceSize == 't' ? 'p20' : 'p20'">{{ 'home' | translate }}
      // <span class="sub-title">{{ 'donate' | translate }}</span></p>
  </div>

</div>

<div class="overlay-main">
  <app-coming-soon></app-coming-soon>
</div>
