::ng-deep body {
  overflow-x: hidden;
  position: relative;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 9999;
  margin-top: 20px;
  // height: -webkit-fill-available;
}
