<div *ngIf="isShow == 'true'" class="footer" data-aos="fade-zoom-in">
  <div class="main-filter row bs-x0">

    <div class="col-12 col-md-6 col-lg-3 div-menu-footer">
      <div class="div-logo">
        <img src="./assets/img/logo-full-c1.png" alt="" class="logo-footer">
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3 div-menu-footer">
      <div class="sub-menu">
        <span class="heading">
          {{ 'contactUs' | translate }}
        </span>
        <div class="box-menu">
          <div class="div-icon">
            <img src="./assets/icons/location_on.png" alt="">
          </div>
          <span class="title">
            {{ translate.currentLang === 'th' ? aboutMeModel.address : aboutMeModel.addressEN}}
          </span>
        </div>
        <div class="box-menu">
          <div class="div-icon">
            <img src="./assets/icons/email.png" alt="">
          </div>
          <span class="title">
            {{aboutMeModel.email}}
          </span>
        </div>
        <div class="box-menu">
          <div class="div-icon">
            <img src="./assets/icons/call.png" alt="">
          </div>
          <span class="title">
            {{aboutMeModel.telephone}}
          </span>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3 div-menu-footer">
      <div class="sub-menu div-social">
        <div class="row bs-x0 gap-3">
          <div class="box-social pointer" (click)="socialClick(aboutMeModel.facebook)">
            <img src="./assets/img/facebook.png" alt="Facebook" class="social-icon">
          </div>
          <div class="box-social pointer" (click)="socialClick(aboutMeModel.ig)">
            <img src="./assets/img/instagram.png" alt="instagram" class="social-icon">
          </div>
          <div class="box-social pointer" (click)="socialClick(aboutMeModel.line)">
            <img src="./assets/img/line.png" alt="line" class="social-icon">
          </div>
          <div class="box-social pointer" (click)="socialClick(aboutMeModel.x)">
            <img src="./assets/img/x-twitter.png" alt="x" class="social-icon">
          </div>
          <div class="box-social pointer" (click)="socialClick(aboutMeModel.tiktok)">
            <img src="./assets/img/icon-tiktok.png" alt="tiktok" class="social-icon">
          </div>
          <div class="box-social pointer" (click)="socialClick(aboutMeModel.youtube)">
            <img src="./assets/img/icon-youtube.png" alt="youtube" class="social-icon">
          </div>
        </div>
        <!-- <span class="title">
          Lorem ipsum dolor sit amet, consec tetur adipiscing elit, sed do eiusmod.
        </span> -->
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
      <div class="visitor-stats" id="visitorStats">
        <div class="stat-item total">
          <div class="stat-label">{{ 'visitorsAll' | translate }}</div>
          <div class="stat-number" id="total">0</div>
        </div>
        <div class="stat-item">
          <div class="stat-label">{{ 'visitorsYear' | translate }}</div>
          <div class="stat-number" id="yearly">0</div>
        </div>
        <div class="stat-item">
          <div class="stat-label">{{ 'visitorsMonth' | translate }}</div>
          <div class="stat-number" id="monthly">0</div>
        </div>
        <div class="stat-item">
          <div class="stat-label">{{ 'visitorsWeek' | translate }}</div>
          <div class="stat-number" id="weekly">0</div>
        </div>
        <div class="stat-item">
          <div class="stat-label">{{ 'visitorsToday' | translate }}</div>
          <div class="stat-number" id="daily">0</div>
        </div>
      </div>

    </div>




  </div>
  <!-- <div class="bottom-footer">
    <span class="menu">Copyright 2025 © We Tech Makers Co.,Ltd.</span>
  </div> -->
</div>
