<div class="footer">
  <div class="main-filter">
    <div class="row gy-5">
      <div class="col-12 col-lg-3 div-menu-footer">
        <div class="div-logo">
          <img src="./../../../assets/img/logo-full-c1.png" alt="" class="logo-footer">
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 div-menu-footer">
        <div class="sub-menu">
          <span class="heading" routerLink="">
            Contact Us
          </span>
          <div class="box-menu">
            <div class="div-icon">
              <img src="./../../../assets/icons/location_on.png" alt="" class="icon-footer">
            </div>
            <span class="title" routerLink="">
              {{aboutMeModel.location}}
            </span>
          </div>
          <div class="box-menu">
            <div class="div-icon">
              <img src="./../../../assets/icons/email.png" alt="" class="icon-footer">
            </div>
            <span class="title" routerLink="">
              {{aboutMeModel.email}}
            </span>
          </div>
          <div class="box-menu">
            <div class="div-icon">
              <img src="./../../../assets/icons/call.png" alt="" class="icon-footer">
            </div>
            <span class="title" routerLink="">
              {{aboutMeModel.tel}}
            </span>
          </div>


        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 div-menu-footer">
        <!-- <span class="title">
          {{ 'contactUs' | translate }}
        </span> -->
        <div class="sub-menu">
          <span class="menu" *ngIf="translate.currentLang === 'th'">
            {{aboutMeModel.title}}
          </span>
          <span class="menu" *ngIf="translate.currentLang === 'en'">
            {{aboutMeModel.titleEN}}
          </span>
          <div class="spacer d-none d-lg-block"></div>
          <span class="menu" *ngIf="translate.currentLang === 'th'">
            {{aboutMeModel.address}}
          </span>
          <span class="menu" *ngIf="translate.currentLang === 'en'">
            {{aboutMeModel.addressEN}}
          </span>
          <div class="spacer d-none d-lg-block"></div>
          <span class="menu">
            {{ 'email' | translate }}: {{aboutMeModel.email}}
          </span>
          <span class="menu">
            {{ 'tel' | translate }}: {{aboutMeModel.telephone}}
          </span>
        </div>
      </div>

    </div>


  </div>
  <!-- <div class="bottom-footer">
    <span class="menu">Copyright 2025 © We Tech Makers Co.,Ltd.</span>
  </div> -->
</div>
