<div class="footer" data-aos="fade-zoom-in">
  <div class="main-filter row bs-x0">

      <div class="col-12 col-md-6 col-lg-3 div-menu-footer">
        <div class="div-logo">
          <img src="./assets/img/logo-full-c1.png" alt="" class="logo-footer">
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 div-menu-footer">
        <div class="sub-menu">
          <span class="heading" routerLink="">
            Contact Us
          </span>
          <div class="box-menu">
            <div class="div-icon">
              <img src="./../../../assets/icons/location_on.png" alt="" class="icon-footer">
            </div>
            <span class="title" routerLink="">
              {{aboutMeModel.location}}
            </span>
          </div>
          <div class="box-menu">
            <div class="div-icon">
              <img src="./../../../assets/icons/email.png" alt="" class="icon-footer">
            </div>
            <span class="title" routerLink="">
              {{aboutMeModel.email}}
            </span>
          </div>
          <div class="box-menu">
            <div class="div-icon">
              <img src="./../../../assets/icons/call.png" alt="" class="icon-footer">
            </div>
            <span class="title" routerLink="">
              {{aboutMeModel.tel}}
            </span>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 div-menu-footer">
        <div class="sub-menu div-social">
          <div class="row bs-x0 gap-3">
            <div class="box-social">
              Dr
            </div>
            <div class="box-social">
              Be
            </div>
            <div class="box-social">
              Ig
            </div>
            <div class="box-social">
              Tw
            </div>
          </div>
          <span class="title" routerLink="">
            Lorem ipsum dolor sit amet, consec tetur adipiscing elit, sed do eiusmod.
          </span>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 div-menu-footer">
        <div class="join-us">
          <span class="heading" routerLink="">
            Join Us
          </span>
          <div class="div-input">
            <label for="">Your Email</label>
            <input type="text" placeholder="Enter Your Email">
          </div>

          <button>Subscribe</button>
        </div>
      </div>




  </div>
  <!-- <div class="bottom-footer">
    <span class="menu">Copyright 2025 © We Tech Makers Co.,Ltd.</span>
  </div> -->
</div>
