.footer {
  // background-color: #1d1d1d;
  background-color: var(--bg-main);
  // min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-filter {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  width: -webkit-fill-available;
  padding: 80px 50px;
}

.div-menu-footer {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.title {
  font-size: var(--font-26);
}

.menu {
  font-size: var(--font-18);
}

.sub-menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 40px;
}

.bottom-footer {
  background-color: #1d1d1d;
  color: var(--white);
  font-weight: 200;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-18);
  width: -webkit-fill-available;
}

a {
  text-decoration: none;
  color: var(--black);
}

.logo-footer {
  width: -webkit-fill-available;
  height: auto;
}

.text-logo {
  font-size: var(--font-20);
  color: var(--black);
  font-weight: 300;
}

.div-logo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.heading {
  color: var(--main);
  font-size: var(--font-16);
}

.box-menu {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.box-menu .title {
  color: #CFD3D7;
  font-size: var(--font-16);
}

.div-icon {
  width: 24px;
  height: 24px;
}

.div-icon img {
  width: -webkit-fill-available;
  height: auto;
}

.box-social {
  height: 40px;
  width: 40px;
  border-radius: 100px;
  display: flex;
  color: var(--bg-main);
  background-color: var(--main);
  font-size: var(--font-16);
  font-weight: 700;
  align-items: center;
  justify-content: center;
}

.div-social {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.div-social .title {
  color: #CFD3D7;
  font-size: var(--font-16);
}

.join-us {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.div-input {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.div-input label {
  color: #CFD3D7;
  font-size: var(--font-16);
}

.div-input input {
  background-color: #4F5A68;
  border: 1px solid var(--main);
  padding: 10px;
  font-size: 16px;
  outline: none;
}

.join-us button {
  background-color: var(--main);
    outline: none;
    border: none;
    padding: 16px 48px;
    width: fit-content;
    border-radius: 8px;
    font-size: 14px;
}

@media (max-width: 768px) {
  .main-filter {
    padding: 30px;
  }

  .div-menu-footer {
    --bs-gutter-y: 1.5rem;
  }

  .div-logo {
    align-items: center;
  }

  .title {
    font-size: var(--font-20);
  }

  .menu {
    font-size: var(--font-16);
  }
}

@media (min-width: 769px) and (max-width: 1023px) {
  .div-logo {
    align-items: center;
  }

  .main-filter {
    padding: 60px;
  }
}
