<div class="header-container" data-aos="zoom-in-up">
  <div class="header-text">
    <h1>เกี่ยวกับพรรค</h1>
    <p>หน้าแรก // เกี่ยวกับพรรค // <span style="color: #F4ED17;">กรรมการบริหารพรรค</span></p>
  </div>
</div>
<div class="executive-page">
  <h2 class="title">ผู้บริหารพรรคไทยก้าวใหม่</h2>

  <h4 class="title-sub" data-aos="fade-right">หัวหน้าพรรคไทยก้าวใหม่</h4>
  <div data-aos="zoom-in-up" class="executive-row center">
    <div class="executive-card-header">
      <img src="./assets/img/card_executive.png" alt="หัวหน้าพรรค" />
    </div>
  </div>

  <h4 class="title-sub"  data-aos="fade-right">กรรมการพรรค</h4>

  <div data-aos="zoom-in-up" class="executive-row center">
    <div class="executive-card">
      <img src="./assets/img/executive.png" alt="หัวหน้าพรรค" />
    </div>
  </div>

  <div data-aos="zoom-in-up" class="executive-row center">
    <div class="executive-card">
      <img src="./assets/img/executive.png" alt="หัวหน้าพรรค" />
    </div>
  </div>

</div>


<app-go-to-top></app-go-to-top>