<div class="container-header" data-aos="zoom-in-up">
  <div class="header-container"></div>
  <div class="header-text">
    <h1 class="title">{{ 'aboutParty' | translate }} </h1>
    <p class="title">{{ 'home' | translate }} // {{ 'ideology' | translate }} // <span class="sub-title">{{
        'partyExecutiveCommittee' |
        translate }}</span></p>
  </div>
</div>
<div class="executive-page">
  <h2 class="title">{{ 'partyExecutiveCommittee' |
    translate }}</h2>

  <h4 class="title-sub" data-aos="fade-right">{{ 'partyExecutiveCommittee' |
    translate }}</h4>
  <div data-aos="zoom-in-up" class="executive-row center">
    <div class="executive-card-header">
      <img src="./assets/img/card_executive.png" alt="หัวหน้าพรรค" />
    </div>
  </div>

  <h4 class="title-sub" data-aos="fade-right">{{ 'partyExecutiveCommittee' |
    translate }}</h4>

  <div data-aos="zoom-in-up" class="executive-row center">
    <div class="executive-card">
      <img src="./assets/img/executive.png" alt="หัวหน้าพรรค" />
    </div>
  </div>

  <div data-aos="zoom-in-up" class="executive-row center">
    <div class="executive-card">
      <img src="./assets/img/executive.png" alt="หัวหน้าพรรค" />
    </div>
  </div>

</div>
<div class="navigation-buttons">
  <button class="nav-btn left-btn" [routerLink]="['/policy']">← {{'policy' |
    translate}}</button>
  <button class="nav-btn right-btn" [routerLink]="['/ideology']">{{ 'ideology'| translate }} →</button>
</div>

<app-go-to-top></app-go-to-top>
