<div class="main">
  <div class="div-main">
    <div class="div-content">
      <span [ngClass]="deviceSize == 'm' ? 'p30' : deviceSize == 't' ? 'p30' : 'p38'"class="head-title" data-aos="fade-right">สมัครสมาชิกพรรค</span>
      <div class="spacer"></div>
      <div class="spacer"></div>
      <span class="sub-head-title p24" data-aos="fade-right">
        ตามมาตรา 24 แห่งพระราชบัญญัติประกอบรัฐธรรมนูญว่าด้วยพรรคการเมือง พ.ศ. 2560 ในการสมัครสมาชิกพรรคผู้สมัครจะต้อง
        "มี" คุณสมบัติ และ "ไม่มี" ลักษณะต้องห้าม ดังนี้
      </span>
      <div class="spacer"></div>
      <span class="title p18" data-aos="fade-right">คุณสมบัติ</span>
      <ol data-aos="fade-right ">
        <li class="p14"  >มีสัญชาติไทยโดยการเกิดหรือโดยการแปลงสัญชาติซึ่งได้สัญชาติไทยมาแล้วไม่น้อยกว่า 5 ปี</li>
        <li class="p14" >มีอายุไม่ต่ำกว่า 18 ปีบริบูรณ์ในวันที่ยื่นใบสมัครเป็นสมาชิก</li>
      </ol>
      <span class="title p18" data-aos="fade-right">ลักษณะต้องห้าม</span>
      <ol data-aos="fade-right">
        <li class="p14">ติดยาเสพติดให้โทษ</li>
        <li class="p14" >เป็นบุคคลล้มละลายหรือเคยเป็นบุคคลล้มละลายทุจริต</li>
        <li class="p14" >เป็นภิกษุ สามเณร นักพรต หรือนักบวช</li>
        <li class="p14" >อยู่ในระหว่างเพิกถอนสิทธิเลือกตั้งไม่ว่าคดีจะถึงที่สุดแล้วหรือไม่</li>
        <li class="p14" >วิกลจริต หรือจิตฟั่นเฟือนไม่สมประกอบ</li>
        <li class="p14" >อยู่ระหว่างการระงับการใช้สิทธิสมัครรับเลือกตั้งเป็นการชั่วคราวหรือถูกเพิกถอนสิทธิสมัครรับเลือกตั้ง</li>
        <li class="p14" >ต้องคําพิพากษาให้จําคุกและถูกคุมขังอยู่โดยหมายของศาล</li>
        <li class="p14" >เคยได้รับโทษจําคุกโดยได้พ้นโทษมายังไม่ถึง 10 ปีถึงวันสมัครเป็นสมาชิก
          เว้นแต่ความผิดโดยประมาทหรือความผิดลหุโทษ</li>
        <li class="p14" >เคยถูกสั่งให้พ้นจากหน่วยงานราชการ หน่วยงานของรัฐ หรือรัฐวิสาหกิจ
          เพราะทุจริตต่อหน้าที่หรือถือว่ากระทําการทุจริตหรือ ประพฤติมิชอบในวงราชการ</li>
        <li class="p14" >เคยต้องคําพิพากษาหรือคําสั่งของศาลอันถึงที่สุดให้ทรัพย์สินตกเป็นของแผ่นดินเพราะร่ำรวยผิดปกติ
          หรือเคยต้องคําพิพากษา อันถึงที่สุดให้จําคุกเพราะกระทําความผิดตามกฎหมายว่าด้วยการป้องกันและปราบปรามการทุจริต
        </li>
        <li class="p14" >เคยต้องคําพิพากษาถึงที่สุดว่ากระทําความผิดต่อตําแหน่งหน้าที่ราชการหรือตําแหน่งหน้าที่ในการยุติธรรม
          หรือกระทําความผิดตามกฎหมายว่าด้วย ความผิดของพนักงานในองค์กรหรือหน่วยงานของรัฐ
          หรือความผิดเกี่ยวกับทรัพย์ที่กระทํา โดยทุจริตตามประมวลกฎหมายอาญา
          ความผิดตามกฎหมายว่าด้วยการกู้ยืมที่เป็นการฉ้อโกงประชาชน กฎหมายว่าด้วยยาเสพติด ในความผิดฐานเป็นผู้ผลิต นําเข้า
          ส่งออก หรือผู้ค้า กฎหมายว่าด้วยการพนันในความผิดฐานเป็นเจ้ามือหรือเจ้าสํานัก กฎหมาย ว่าด้วยการป้องกันและ
          ปราบปรามการค้ามนุษย์หรือกฎหมายว่าด้วยการป้องกันและปราบปรามการฟอกเงินในความผิด ฐานฟอกเงิน</li>
        <li class="p14" >เคยต้องคําพิพากษาอันถึงที่สุดว่ากระทําการอันเป็นทุจริตในการเลือกตั้ง</li>
        <li class="p14" >เป็นสมาชิกวุฒิสภาหรือเคยเป็นสมาชิกวุฒิสภาและสมาชิกภาพสิ้นสุดยังไม่เกิน 2 ปี</li>
        <li class="p14" >เป็นตุลาการศาลรัฐธรรมนูญ หรือเป็นผู้ดํารงตําแหน่งในองค์กรอิสระ</li>
        <li class="p14" >อยู่ในระหว่างต้องห้ามมิให้ดํารงตําแหน่งทางการเมือง</li>
        <li class="p14" >เคยพ้นจากตําแหน่งเพราะศาลรัฐธรรมนูญวินิจฉัยว่า มีการเสนอการแปรญัตติหรือการกระทําด้วยประการใดๆที่มีผลให้ส.ส.
          ส.ว. หรือกรรมาธิการมีส่วนไม่ว่าโดยทางตรงหรือทางอ้อมในการใช้งบประมาณรายจ่าย</li>
        <li class="p14" > เคยพ้นจากตําแหน่งเพราะศาลฎีกาหรือศาลฎีกาแผนกคดีอาญาของผู้ดํารงตําแหน่งทางการเมืองมีคําพิพากษาว่าเป็นผู้มี
          พฤติการณ์ร่ำรวยผิดปกติหรือกระทําความผิดฐานทุจริตต่อหน้าที่หรือจงใจปฏิบัติหน้าที่หรือใช้อํานาจขัดต่อบทบัญญัติแห่ง
          รัฐธรรมนูญหรือกฎหมาย หรือฝ่าฝืน หรือไม่ปฏิบัติตามมาตรฐานทางจริยธรรมอย่างร้ายแรง</li>
        <li class="p14" >อยู่ในระหว่างถูกสั่งห้ามดํารงตําแหน่งใดในพรรคการเมืองตาม พรป. ว่าด้วยพรรคการเมือง</li>
        <li class="p14" >ไม่เป็นสมาชิกพรรคการเมืองพรรคอื่นหรือผู้ยื่นคําขอจดทะเบียนจัดตั้งพรรคการเมือง
          หรือผู้แจ้งการเตรียมการจัดตั้งพรรคการเมืองอื่นในวันที่ยื่นสมัครเป็นสมาชิกพรรค</li>
      </ol>
      <div class="spacer"></div>
      <div class="spacer"></div>
      <div class="d-flex justify-content-center">
        <button class="btn-main p20 " (click)="gotoForm()" data-aos="flip-up">{{'proceed'|translate}}</button>
      </div>
    </div>
  </div>
</div>

