<div class="main">
  <div class="div-main">
    <div class="div-content">
      <span [ngClass]="deviceSize == 'm' ? 'p30' : deviceSize == 't' ? 'p30' : 'p38'" class="head-title" data-aos="fade-right">{{'partymembers'|translate}}</span>
      <div class="spacer"></div>
      <div class="spacer"></div>
      <span class="sub-head-title p24" data-aos="fade-right">
        {{'regisSubTitle'|translate}}
      </span>
      <div class="spacer"></div>
      <span class="title p18" data-aos="fade-right">{{'feature'|translate}}</span>
      <ol data-aos="fade-right ">
        <li class="p14" >{{'feature1'|translate}}</li>
        <li class="p14" >{{'feature2'|translate}}</li>
      </ol>
      <span class="title p18" data-aos="fade-right">{{'prohibitedItems'|translate}}</span>
      <ol data-aos="fade-right">
        <li class="p14">{{'prohibitedItems1'|translate}}</li>
        <li class="p14" >{{'prohibitedItems2'|translate}}</li>
        <li class="p14" >{{'prohibitedItems3'|translate}}</li>
        <li class="p14" >{{'prohibitedItems4'|translate}}</li>
        <li class="p14" >{{'prohibitedItems5'|translate}}</li>
        <li class="p14" >{{'prohibitedItems6'|translate}}</li>
        <li class="p14" >{{'prohibitedItems7'|translate}}</li>
        <li class="p14" >{{'prohibitedItems8'|translate}}</li>
        <li class="p14" >{{'prohibitedItems9'|translate}}</li>
        <li class="p14" >{{'prohibitedItems10'|translate}}</li>
        <li class="p14" >{{'prohibitedItems11'|translate}}</li>
        <li class="p14" >{{'prohibitedItems12'|translate}}</li>
        <li class="p14" >{{'prohibitedItems13'|translate}}</li>
        <li class="p14" >{{'prohibitedItems14'|translate}}</li>
        <li class="p14" >{{'prohibitedItems15'|translate}}</li>
        <li class="p14" >{{'prohibitedItems16'|translate}}</li>
        <li class="p14" >{{'prohibitedItems17'|translate}}</li>
        <li class="p14" >{{'prohibitedItems18'|translate}}</li>
        <li class="p14" >{{'prohibitedItems19'|translate}}</li>
      </ol>
      <div class="spacer"></div>
      <div class="spacer"></div>
      <div class="d-flex flex-column justify-content-center align-items-center gap-3">
        <button class="btn-main p20 " (click)="gotoForm()" data-aos="flip-up">{{'proceed'|translate}}</button>
        <span class="title" [ngClass]="deviceSize == 'm' ? 'p12' : 'p16'" data-aos="fade-right">หรือ <a (click)="downloadRegisForm()" class="">{{'download-doc'|translate}}</a> เพื่อพิมพ์ใบสมัคร</span>
        <!-- <button class="btn-second p20 " (click)="downloadRegisForm()" data-aos="flip-up">{{'download-doc'|translate}}</button> -->
      </div>
    </div>
  </div>
</div>

