.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  // position: relative;
  // z-index: 9999;
}

.div-main {
  padding: 50px 100px;
  width: -webkit-fill-available;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);

}

.div-content {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  width: -webkit-fill-available;
  border-radius: 20px;
  padding: 60px 50px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 20px 70px 0px;
  background-color: var(--white);
  border: 1px solid var(--94949442-w-y);; // เพิ่มความชัดเจนของกรอบ
}

.head-title {
  color: var(--nevy);
  font-weight: 600;
  font-size: var(--font-38);
}

.sub-head-title {
  color: var(--nevy-fade);
  font-weight: 500;
  font-size: var(--font-24);
}


.title {
  color: var(--black);
  font-weight: 600;
  font-size: var(--font-18);
}

ol {
  padding-left: 15px;
  font-size: var(--font-14);
}

li {
  color: var(--black);
  font-weight: 300;
  font-size: var(--font-14);
  line-height: 1.5;
}

.btn-main {
  color: var(--white);
  font-weight: 600;
  font-size: var(--font-20);
  background-color: var(--nevy);
  border: 0;
  border-radius: 20px;
  padding: 8px 24px;
  width: fit-content;
  min-width: 400px;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .div-main {
    padding: 50px;
  }

  .div-content {
    padding: 40px;
  }

  .head-title {
    font-size: var(--font-30);
  }
}

@media (max-width: 768px) {
  .div-main {
    padding: 20px;
  }

  .div-content {
    padding: 30px;
  }

  .head-title {
    font-size: var(--font-30);
  }

  .btn-main {
    width: -webkit-fill-available;
    min-width: -webkit-fill-available;
  }
}
