.about-section {
  padding: 5% 10%;
  // max-width: 1200px;
  margin: 0 auto;
  background-color: var(--white);

  .section-header {
    margin-bottom: 24px;

    h2 {
      font-size: 24px;
      color: var(--nevy);
      font-weight: bold;
    }

    .underline {
      height: 4px;
      width: 200px;
      background-color: var(--y-w-y);
      margin-top: 4px;
    }
  }

  .about-content {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;

    .about-logo {
      flex: 0 0 320px;

      img {
        width: 100%;
        border-radius: 12px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        filter: var(--filter);
      }
    }

    .about-text {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 24px;

      .main-description {
        color: var(--808080-w-y);
        line-height: 1.6;
        position: relative;
        padding-left: 20px;

        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 4px;
          height: 80px;
          background-color: var(--y-w-y);
        }
      }



      .highlight-boxes {
        display: flex;
        gap: 16px;

        .highlight-box {
          border: 1px solid var(--d9d9d9-w-y);
          background-color: var(--y-w-y-2);
          padding: 16px;
          border-radius: 8px;
          flex: 1;

          h4 {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 8px;
            color: var(--nevy);
          }

          p {
            font-size: 14px;
            color: var(--nevy);
            margin-bottom: 8px;

            &.small {
              font-size: 12px;
              color: var(--808080-w-y);
            }
          }

          p strong {
            display: block;
            font-size: 16px;
            color: var(--nevy);
            margin-bottom: 8px;
          }


        }

        @media (max-width: 768px) {
          flex-direction: column;
        }
      }
    }
  }

  @media (max-width: 768px) {
    padding: 40px 20px;
  }
}


.contact-background {
  width: 100%;
}


.img-logo-main {
  width: 100%;
  height: 35vw;
  object-fit: fill;
}

@media (min-width: 768px) and (max-width: 991px) {
  .highlight-boxes {
    flex-direction: column;
  }
}

@media (max-width: 767px) {
  .highlight-boxes {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .highlight-boxes {
    flex-direction: column;
  }
}
