<div class="container-header" data-aos="zoom-in-up">
  <div class="header-container"></div>
  <div class="header-text">
    <h1 class="title" [ngClass]="deviceSize == 'm' ? 'p20' : deviceSize == 't' ? 'p30' : 'p50'">{{ 'aboutParty' | translate }} </h1>
    <p class="title" [ngClass]="deviceSize == 'm' ? 'p12' : deviceSize == 't' ? 'p20' : 'p20'">{{ 'home' | translate }} // {{ 'ideology' | translate }} // <span class="sub-title">{{ 'ideology' |
        translate }}</span></p>
  </div>
</div>
<section class="ideology-div">
  <div class="ideology-section">
    <div class="header" data-aos="fade-right">
      <h2 class="p24">อุดมการณ์ทางการเมืองพรรคไทยก้าวใหม่</h2>
      <p class="description p16" [innerHTML]="model.ideologyDes" *ngIf="translate.currentLang === 'th'"></p>
      <p class="description p16" [innerHTML]="model.ideologyDesEN" *ngIf="translate.currentLang === 'en'"></p>
    </div>

    <div class="vision">
      <!-- <h3 class="p22" data-aos="zoom-in">{{ 'vision' | translate }}</h3> -->

      <div class="vision-item" *ngFor="let v of model.ideologyList; let i = index" data-aos="fade-right">
        <h5 class="p16" *ngIf="translate.currentLang === 'th'">{{ v.title }}</h5>
        <h5 class="p16" *ngIf="translate.currentLang === 'en'">{{ v.titleEN }}</h5>
        <div class="p14 li" *ngIf="translate.currentLang === 'th'" [innerHTML]="v.description">
        </div>
        <div class="p14 li" *ngIf="translate.currentLang === 'en'" [innerHTML]="v.descriptionEN">
        </div>
      </div>
    </div>

    <div class="navigation-buttons">
      <button class="nav-btn p20 left-btn" [routerLink]="['/party-executive']">← {{'partyExecutiveCommittee' |
        translate}}</button>
      <button class="nav-btn  p20right-btn" [routerLink]="['/history']">{{ 'history'| translate }} →</button>
    </div>
  </div>
</section>
