.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  // position: relative;
  // z-index: 9999;
}

.div-main {
  padding: 80px 100px;
  width: -webkit-fill-available;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
}

.div-content {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  width: auto;
  // width: -webkit-fill-available;
  border-radius: 20px;
  padding: 60px 50px;
  box-shadow: rgb(0 0 0 / 9%) 0px 0px 70px 0px;
  background-color: var(--white);
  border: 1px solid var(--94949442-w-y);
  ; // เพิ่มความชัดเจนของกรอบ
}

.div-content .head-title,
i {
  color: var(--nevy);
  font-weight: 600;
  font-size: var(--font-38);
}

.div-input {
  display: flex;
  flex-direction: column;
  gap: 5px;

  input,
  select {
    font-size: var(--font-16);
    padding: 8px 10px;
    border-radius: 13px;
    border: 1px solid var(--nevy);
    outline: none;
    color: var(--nevy);
    background-color: var(--white);
  }

  input:disabled {
    font-size: 16px;
    background-color: #80808038;
    border: 1px solid var(--white);
  }
}

select {
  appearance: none;            /* เอาสไตล์ default ออก */
  -webkit-appearance: none;    /* สำหรับ Safari */
  -moz-appearance: none;       /* สำหรับ Firefox */

  background: #f0f0f0;
  border: 1px solid #ccc;
  padding: 8px 12px;
  border-radius: 6px;
  font-size: 16px;

  /* ถ้าอยากซ่อนลูกศร default */
  background-image: url('./../../../assets/icons/arrow.svg');
  background-repeat: no-repeat;
  background-position: right 10px center;
}

.div-input label {
  font-size: var(--font-16);
  color: var(--nevy);
  font-weight: 400;
  // width: 100%;
}

.div-input .label-photo1-5 {
  font-size: var(--font-16);
  color: var(--nevy);
  font-weight: 400;
  // width: 170px;
}

.div-input .sub-label {
  font-size: var(--font-14);
  color: var(--949494-w-y);
  font-weight: 400;
}

.row-form-gap {
  --bs-gutter-x: 1.5rem;
  // --bs-gutter-y: 1.5rem;
  row-gap: 24px;

  .div-input {
    span {
      color: var(--nevy);
    }
  }
}

.title {
  color: var(--black);
  font-weight: 600;
  font-size: var(--font-20);
}

.div-file-doc {
  height: 200px;
  width: 200px;
  border-radius: 20px;
  border: 1px dashed var(--nevy);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;

  span {
    color: var(--949494-w-y);
    font-size: var(--font-14);
  }

  input[type="file"] {
    display: none;
  }
}

.div-file {
  height: 200px;
  width: 160px;
  border-radius: 20px;
  border: 1px dashed var(--nevy);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;

  span {
    color: var(--949494-w-y);
    font-size: var(--font-14);
  }

  input[type="file"] {
    display: none;
  }
}

.div-file-cardID {
  height: 200px;
  width: 350px;
  border-radius: 20px;
  border: 1px dashed var(--nevy);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;

  span {
    color: var(--949494-w-y);
    font-size: var(--font-14);
  }

  input[type="file"] {
    display: none;
  }
}

.div-file-photo1-5 {
  height: 200px;
  width: 170px;
  border-radius: 20px;
  border: 1px dashed var(--nevy);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;

  span {
    color: var(--949494-w-y);
    font-size: var(--font-14);
  }

  input[type="file"] {
    display: none;
  }
}

.div-file-slip {
  height: 320px;
  width: 200px;
  border-radius: 20px;
  border: 1px dashed var(--nevy);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;


  span {
    color: var(--949494-w-y);
    font-size: var(--font-14);
  }

  input[type="file"] {
    display: none;
  }
}

.div-img-file-slip {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  overflow: hidden;
  border-radius: 20px;

  img {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    object-fit: contain;
    filter: var(--filter);
  }
}

.div-img-file {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  // height: 200px;
  overflow: hidden;
  border-radius: 20px;
  text-align: center;

  img {
    // width: -webkit-fill-available;
    height: -webkit-fill-available;
    object-fit: cover;
    filter: var(--filter);
  }
}

.delete-img {
  position: relative;
  // top: 15px;
  // right: -5px;
  top: -6px;
  right: -12px;
  background-color: var(--b81111-w-y);
  border-radius: 100px;
  padding: 5px;
  width: 25px;
  height: 25px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  i {
    font-size: 14px;
    color: var(--white);
  }

}

.radio-group {
  display: flex;
  flex-direction: column;
}

.div-input-radio {
  display: flex;
  gap: 10px;
  align-items: center;

  label {
    color: var(--nevy);
    font-size: var(--font-16);
    font-weight: 300;
    width: fit-content;
  }
}

.qr-code {
  width: 200px;
  height: auto;
  filter: var(--filter);
}

.btn-main {
  color: var(--white);
  font-weight: 600;
  font-size: var(--font-20);
  background-color: var(--nevy);
  border: 0;
  border-radius: 20px;
  padding: 8px 24px;
  width: fit-content;
  min-width: 400px;
}

.btn-main-disabled {
  color: var(--white);
  font-weight: 600;
  font-size: var(--font-20);
  background-color: var(--bggrey);
  border: 0;
  border-radius: 20px;
  padding: 8px 24px;
  width: fit-content;
  min-width: 400px;
}

.btn-save-qr {
  color: var(--white);
  font-weight: 500;
  font-size: var(--font-14);
  background-color: var(--nevy);
  border: 0;
  border-radius: 10px;
  padding: 5px 18px;
  width: fit-content;
  // min-width: 400px;
}

.custom-list {
  list-style: none;
  padding-left: 1.2em;
  /* ทำให้ label อยู่ในแนวเดียวกับ li ทั่วไป */
  margin: 0;
}

.custom-list li {
  margin-bottom: 0.5em;
  /* ระยะห่างระหว่างบรรทัด */
  line-height: 1.5;
  /* ทำให้ดูไม่ติดกันเกินไป */
}

.div-checkbox {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  color: var(--949494-w-y);
}

@media (min-width: 769px) and (max-width: 1024px) {
  .div-main {
    padding: 50px;
  }

  .div-content {
    padding: 40px;
  }

  .head-title {
    font-size: var(--font-30);
  }
}

@media (max-width: 768px) {
  .div-main {
    padding: 20px;
  }

  .div-content {
    padding: 20px;
    width: -webkit-fill-available;

    .head-title {
      font-size: var(--font-30);
    }
  }

  .btn-main {
    width: -webkit-fill-available;
    min-width: -webkit-fill-available;
  }

  .row-form-gap {
    row-gap: 14px;
  }

  .btn-main-disabled {
    min-width: -webkit-fill-available !important;
  }

  .div-slip-pay {
    flex-direction: column;
    gap: 10px;
  }
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal-box {
  background-color: var(--white);
  padding: 2rem;
  border-radius: 8px;
  min-width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border: 1px solid var(--w-w-y);
  color: var(--black);
  max-width: 465px;
}


.div-checkbox {
  margin-bottom: 1.2rem;

  input[type="checkbox"] {
    margin-right: 10px;
    transform: scale(1.2);
    cursor: pointer;
    margin: 5px;
  }

  label {
    cursor: pointer;
    user-select: none;
  }
}

.popup-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999;
  overflow: hidden;
  height: 100vh;
}

.popup {
  background-color: var(--white);
  height: 90vh;
  width: 100%;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--w-w-y);

  @media (max-width: 768px) {
    max-width: 90%;
    height: 80vh;
  }

}

.popup-box {
  background-color: var(--white);
  border-radius: 12px;
  padding: 24px;
  width: 100%;
  max-height: 70vh;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 80vh;
  border: 1px solid var(--w-w-y);
}

.popup-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 12px;
  text-align: center;
  color: var(--black);
}

.popup-content {
  flex-grow: 1;
  overflow-y: auto;
  padding-right: 8px;
  font-size: 0.95rem;
  line-height: 1.5;
  white-space: pre-line;
  text-align: justify;
  color: var(--black);
}

/* ปุ่มอยู่นอกกรอบ */
.popup-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 12px;

  button {
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    font-size: 1rem;

    &:first-child {
      background-color: var(--nevy);
      color: var(--white);
    }

    &:last-child {
      background-color: var(--e76f51-b-b);
      color: var(--w-w-y);
      border: 1px solid var(--none-w-y);
    }
  }
}

.card-file {
  // min-height: 200px;
  // width: 100%;
  width: fit-content;
  position: relative;
}
