<div class="main">
  <div class="div-main">
    <div class="div-content">
      <span class="head-title d-flex align-items-center">
        <a href="" class="d-flex no-underline"><i class="material-icons">arrow_back</i></a> &nbsp;&nbsp;
        กรอกข้อมูลผู้สมัคร</span>
      <div class="spacer"></div>
      <div class="spacer"></div>
      <form action="">
        <span class="title">ข้อมูลส่วนตัว</span>
        <div class="row row-form-gap">
          <div class="div-input col-lg-2 col-md-6 col-12">
            <label for="">คำนำหน้า</label>
            <input type="text">
          </div>
          <div class="div-input col-lg-4 col-md-6 col-12">
            <label for="">ชื่อ</label>
            <input type="text">
          </div>
          <div class="div-input col-lg-4 col-md-6 col-12">
            <label for="">นามสกุล</label>
            <input type="text">
          </div>
          <div class="div-input col-lg-2 col-md-6 col-12">
            <label for="">วัน/เดือน/ปี เกิด</label>
            <input type="text">
          </div>
          <div class="div-input col-lg-4 col-md-6 col-12">
            <label for="">เลขประจำตัวประชาชน</label>
            <input type="text">
          </div>
          <div class="div-input col-lg-4 col-md-6 col-12">
            <label for="">เบอร์โทรศัพท์</label>
            <input type="text">
          </div>
          <div class="div-input col-lg-4 col-md-6 col-12">
            <label for="">อีเมล</label>
            <input type="text">
          </div>
        </div>
        <div class="spacer"></div>
        <div class="spacer"></div>
        <span class="title">ที่อยู่</span>
        <div class="row row-form-gap">
          <div class="div-input col-lg-2 col-md-6 col-12">
            <label for="">เลขที่</label>
            <input type="text">
          </div>
          <div class="div-input col-lg-3 col-md-6 col-12">
            <label for="">อาคาร/หมู่บ้าน</label>
            <input type="text">
          </div>
          <div class="div-input col-lg-2 col-md-6 col-12">
            <label for="">หมู่</label>
            <input type="text">
          </div>
          <div class="div-input col-lg-3 col-md-6 col-12">
            <label for="">ซอย</label>
            <input type="text">
          </div>
          <div class="div-input col-lg-4 col-md-6 col-12">
            <label for="">ถนน</label>
            <input type="text">
          </div>
          <div class="div-input col-lg-4 col-md-6 col-12">
            <label for="">จังหวัด</label>
            <input type="text">
          </div>
          <div class="div-input col-lg-4 col-md-6 col-12">
            <label for="">เขต/อำเภอ</label>
            <input type="text">
          </div>
          <div class="div-input col-lg-4 col-md-6 col-12">
            <label for="">แขวง/ตำบล</label>
            <input type="text">
          </div>
          <div class="div-input col-lg-4 col-md-6 col-12">
            <label for="">รหัสไปรษณีย์</label>
            <input type="text">
          </div>
        </div>
        <div class="spacer"></div>
        <div class="spacer"></div>
        <div class="row row-form-gap">
          <div class="div-input col-lg-6 col-12">
            <span class="title">รูปถ่ายตนเอง</span>
            <label for="" class="sub-label">รูปถ่ายตนเองพร้อมเอกสารยืนยันการสมัครที่เขียนข้อความ ข้าพเจ้า (ชื่อ -
              นามสกุลผู้สมัคร)
              มีความประสงค์สมัครสมาชิกพรรคไทยก้าวใหม่ *</label>
            <label class="div-file">
              <span *ngIf="previewProfileUrl == null">* กรุณาเลือกรูป</span>
              <div class="div-img-file" *ngIf="previewProfileUrl != null">
                <img [src]="previewProfileUrl" />
              </div>
              <input type="file" accept="image/*" (change)="onFileProfileSelected($event)">
              <div class="delete-img" *ngIf="previewProfileUrl != null">
                <i class="material-icons">close</i>
              </div>
            </label>
          </div>
          <div class="div-input col-lg-6 col-12">
            <span class="title">รูปบัตรประชาชน</span>
            <label class="div-file-cardID">
              <span *ngIf="previewCardIDUrl == null">* กรุณาเลือกรูป</span>
              <div class="div-img-file" *ngIf="previewCardIDUrl != null">
                <img [src]="previewCardIDUrl" />
              </div>
              <input type="file" accept="image/*" (change)="onFileCardIDelected($event)">
              <div class="delete-img" *ngIf="previewCardIDUrl != null">
                <i class="material-icons">close</i>
              </div>
            </label>
          </div>
        </div>
        <div class="spacer"></div>
        <div class="spacer"></div>
        <div class="row row-form-gap">
          <div class="div-input col-12">
            <span class="title">รูปแบบการเป็นสมาชิก</span>
            <div class="radio-group">
              <div class="div-input-radio">
                <input type="radio" id="subscribe1" name="subscribe" value="1" />
                <label for="subscribe1">สมัครสมาชิกแบบรายเดือน (20 บาท/ปี)</label>
              </div>

              <div class="div-input-radio">
                <input type="radio" id="subscribe2" name="subscribe" value="2" />
                <label for="subscribe2">สมัครสมาชิกตลอดชีพ (200 บาท)</label>
              </div>
            </div>
          </div>
        </div>
        <div class="spacer"></div>
        <div class="spacer"></div>
        <div class="row row-form-gap">
          <div class="div-input col-lg-6 col-12">
            <span class="title">ช่องการการชำระเงิน</span>
            <span>ชื่อบัญชี: พรรคไทยก้าวใหม่ ฟอร์ เอฟเวอรี่วัน</span>
            <span class="d-flex align-items-center gap-2">เลขที่บัญชี: 0970000000
              <button type="button" class="btn-save-qr" (click)="copyText()">คัดลอก</button>
              <p *ngIf="copySuccess" style="color: green; margin: 0;">
                ✅ คัดลอกแล้ว!
              </p>
            </span>
            <span>ธนาคาร: กรุงไทย</span>
            <div class="d-flex align-items-center flex-column">
              <img src="./../../../assets/img/qr-mock.png" class="qr-code" />
              <a href="./../../../assets/img/qr-mock.png" download="qr-mock.png">
                <button type="button" class="btn-save-qr">บันทึก QR-Code</button>
              </a>
            </div>

          </div>
          <div class="div-input col-lg-6 col-12">
            <span class="title">รูปภาพหลักฐานการโอนชำระเงินค่าสมัครสมาชิก</span>
            <label class="div-file-slip">
              <span *ngIf="previewSlipUrl == null">* กรุณาเลือกรูป</span>
              <div class="div-img-file-slip" *ngIf="previewSlipUrl != null">
                <img [src]="previewSlipUrl" />
              </div>
              <input type="file" accept="image/*" (change)="onFileSlipSelected($event)">
              <div class="delete-img" *ngIf="previewSlipUrl != null" (click)="previewSlipUrl = null">
                <i class="material-icons">close</i>
              </div>
            </label>
          </div>
        </div>
        <div class="spacer"></div>
        <div class="spacer"></div>
        <div class="row bs-x0 row-form-gap">
          <div class="div-checkbox">
            <input type="checkbox" name="" id="">
            <span>การสมัครสมาชิกพรรคในครั้งนี้ ข้าพเจ้ากระทำโดยความสมัครใจของข้าพเจ้าเองและเงิน
              ค่าบำรุงพรรคเป็นของข้าพเจ้า รวมทั้งข้าพเจ้าเป็นผู้มีคุณสมบัติและไม่มีลักษณะต้องห้ามตามมาตรา 24 แห่ง
              พรป.ว่าด้วยพรรคการเมือง พ.ศ. 2560 และหากพรรคตรวจสอบแล้วพบว่า ข้อมูล ดังกล่าวไม่เป็นความจริง
              พรรคอาจปฏิเสธการสมัครเป็นสมาชิกพรรค ของข้าพเจ้าได้</span>
          </div>
          <div class="div-checkbox">
            <input type="checkbox" name="" id="">
            <span>ข้าพเจ้าตกลงยินยอมให้พรรคประชาธิปัตย์สามารถเก็บรวบรวม ใช้ และเปิดเผยข้อมูลส่วนบุคคลสำหรับ
              ข้อมูลภาพถ่ายบัตรประจำตัวประชาชนของข้าพเจ้าที่ทำการถ่ายภาพและข้อมูลต่าง ๆ ในภาพดังกล่าว ได้แก่
              เลขบัตรประจำตัวประชาชน ชื่อ นามสกุล วันเดือนปีเกิด ที่อยู่ วันที่ออกบัตร วันบัตรหมดอายุ
              และรูปถ่ายของข้าพเจ้าในบัตรประจำตัวประชาชน และรูปถ่ายใบหน้าของข้าพเจ้า ทั้งนี้เพื่อเป็นการตรวจสอบ
              และยืนยันตัวตนในการสมัครและเป็นหลักฐานในการสมัครสมาชิกพรรค</span>
          </div>
        </div>
        <div class="spacer"></div>
        <div class="spacer"></div>
        <div class="d-flex justify-content-center">
          <button class="btn-main" type="button" (click)="openModal()">ดำเนินการต่อ</button>
        </div>
      </form>

      <div class="modal-backdrop" *ngIf="isModalOpen">
        <div class="modal-box">
          <h2>สมัครสมาชิกสำเร็จ</h2>
          <p>ขอบคุณสำหรับการสมัครสมาชิกเข้าร่วมพรรค</p>
          <button (click)="closeModal()" class="btn-main">กลับหน้าแรก</button>
        </div>
      </div>

    </div>
  </div>
</div>
