<div class="main">
  <!-- <div class="bg-circle"></div> -->

  <div class="bg">
    <div class="content-main">
      <div class="row w-full bs-x0 justify-content-center">
        <div class="left d-flex col-7 justify-content-center align-items-center flex-column">
          <div class="div-img-logo-main">
            <img src="./../../../assets/img/logo-full-c2.png" alt="" class="img-logo-main">
          </div>
        </div>
        <div class="right col-5 d-flex text-center justify-content-center">

          <div [innerHTML]="aboutMeModel.vision" class="title" *ngIf="translate.currentLang === 'th'"></div>
          <div [innerHTML]="aboutMeModel.visionEN" class="title" *ngIf="translate.currentLang === 'en'"></div>

        </div>

      </div>
    </div>
  </div>
  <div class="content">
    <div class="content-1">
      <div class="div-content">
        <div class="top-div row bs-x0">
          <h2>ข่าวสารแนะนำ</h2>
          <button class="view-all">ดูทั้งหมด</button>
        </div>

        <div class="row">
          <div class="col-4 col-md-4 col-lg-4 d-flex" *ngFor="let i of newsList.slice(0,3); let idx = index;">
            <div class="card-news">
              <div class="div-img-news">
                <img src="{{i.imageUrl}}" alt="" class="news-img">
              </div>
              <span class="news-title hidden-title" *ngIf="translate.currentLang === 'th'">
                  {{i.title}}
                </span>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="content-1 service-bg">
      <div class="div-content box" [class.animate]="isVisible" #animatedBox>
        <h2 class="c-white">
          {{ 'productAndService' | translate }}
        </h2>
        <span class="c-white">{{ 'productAndServiceSubtitle' | translate }}</span>
        <div class="spacer"></div>
        <div class="spacer d-none d-lg-block"></div>
        <div class="spacer d-none d-lg-block"></div>
        <div class="d-flex row div-group-service">
          <div class="col-12 col-md-6 col-lg-4 d-flex div-card-service">
            <div class="card-service">
              <div class="service-head">
                <img src="./../../../assets/icons/icon-sale.png" alt="" class="service-icon">
                <span class="service-title">
                  {{ 'proAndSerTitle1' | translate }}
                </span>
              </div>
              <span class="service-text">
                {{ 'proAndSerDes1' | translate }}
              </span>
            </div>

            <!-- <div class="service-arrow">
              <button class="goto">
                <i class="material-icons icon-btn-sevice">arrow_forward</i>
              </button>
            </div> -->
          </div>

          <div class="col-12 col-md-6 col-lg-4 d-flex div-card-service">
            <div class="card-service">
              <div class="service-head">
                <img src="./../../../assets/icons/icon-install.png" alt="" class="service-icon">
                <span class="service-title">
                  {{ 'proAndSerTitle2' | translate }}
                </span>
              </div>
              <span class="service-text">
                {{ 'proAndSerDes2' | translate }}
              </span>
            </div>

            <!-- <div class="service-arrow">
              <button class="goto">
                <i class="material-icons icon-btn-sevice">arrow_forward</i>
              </button>
            </div> -->
          </div>

          <div class="col-12 col-md-6 col-lg-4 d-flex div-card-service">
            <div class="card-service">
              <div class="service-head">
                <img src="./../../../assets/icons/icon-maintain.png" alt="" class="service-icon">
                <span class="service-title">
                  {{ 'proAndSerTitle3' | translate }}
                </span>
              </div>
              <span class="service-text">
                {{ 'proAndSerDes3' | translate }}
              </span>
            </div>

            <!-- <div class="service-arrow">
              <button class="goto">
                <i class="material-icons icon-btn-sevice">arrow_forward</i>
              </button>
            </div> -->
          </div>

          <div class="col-12 col-md-6 col-lg-4 d-flex div-card-service">
            <div class="card-service">
              <div class="service-head">
                <img src="./../../../assets/icons/icon-recomance.png" alt="" class="service-icon">
                <span class="service-title">
                  {{ 'proAndSerTitle4' | translate }}
                </span>
              </div>
              <span class="service-text">
                {{ 'proAndSerDes4' | translate }}
              </span>
            </div>

            <!-- <div class="service-arrow">
              <button class="goto">
                <i class="material-icons icon-btn-sevice">arrow_forward</i>
              </button>
            </div> -->
          </div>

          <div class="col-12 col-md-6 col-lg-4 d-flex div-card-service">
            <div class="card-service">
              <div class="service-head">
                <img src="./../../../assets/icons/icon-course.png" alt="" class="service-icon">
                <span class="service-title">
                  {{ 'proAndSerTitle5' | translate }}
                </span>
              </div>
              <span class="service-text">
                {{ 'proAndSerDes5' | translate }}
              </span>
            </div>

            <!-- <div class="service-arrow">
              <button class="goto">
                <i class="material-icons icon-btn-sevice">arrow_forward</i>
              </button>
            </div> -->
          </div>

          <div class="col-12 col-md-6 col-lg-4 d-flex div-card-service">
            <div class="card-service">
              <div class="service-head">
                <img src="./../../../assets/icons/icon-credit.png" alt="" class="service-icon">
                <span class="service-title">
                  {{ 'proAndSerTitle6' | translate }}
                </span>
              </div>
              <span class="service-text">
                {{ 'proAndSerDes6' | translate }}
              </span>
            </div>

            <!-- <div class="service-arrow">
              <button class="goto">
                <i class="material-icons icon-btn-sevice">arrow_forward</i>
              </button>
            </div> -->
          </div>

        </div>
      </div>

    </div>


  </div>
</div>
