<app-cookie-banner *ngIf="showCookieBanner"></app-cookie-banner>

<div class="main">
  <!-- <div class="bg-circle"></div> -->

  <div class="bg">
    <div class="content-main">
      <div class="row w-full bs-x0 justify-content-center h-full">

        <!-- ซ้าย: โลโก้ -->
        <div class="left d-flex col-7 justify-content-center align-items-center flex-column">
          <div data-aos="fade-right" data-aos-delay="0" class="div-img-logo-main">
            <img src="./assets/img/logo-full-c2.png" alt="" class="img-logo-main">
          </div>
        </div>

        <!-- ขวา: เจ้าของ -->
        <div data-aos="fade-left" data-aos-delay="300" class="right col-5 d-flex text-center justify-content-center">
          <img src="./assets/img/owner.png" alt="" class="img-logo-owner w-full">
        </div>

      </div>
    </div>
  </div>
  <div class="content">
    <div class="content-1">
      <div class="div-content">
        <div class="top-div row bs-x0">
          <h2 class="p30" data-aos="fade-right">ข่าวสารแนะนำ</h2>
          <button class="p16 view-all" data-aos="fade-left" [routerLink]="['/news']">ดูทั้งหมด</button>
        </div>
        <div class="spacer"></div>
        <div class="row row-news-card flex-nowrap">
          <div data-aos="flip-up" class="div-card-news col-4 col-md-4 col-lg-4 d-flex"
            *ngFor="let i of newsList.slice(0,3); let idx = index;" [routerLink]="['/newsdetail', i.code]">
            <div class="card-news">
              <div class="div-img-news">
                <img src="{{i.imageUrl}}" alt="" class="news-img">
              </div>
              <span class="p16 news-title hidden-title" *ngIf="translate.currentLang === 'th'">
                {{i.title}}
              </span>
              <div class="date">
                <div class="icon-date">
                  <img src="./../../../assets/icons/icon-calendar.png" alt="">
                </div>
                <span class="text">{{i.date}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="spacer" *ngIf="deviceSize == 'd'"></div>
        <div class="spacer" *ngIf="deviceSize == 'd'"></div>
        <div class="spacer" *ngIf="deviceSize == 'd'"></div>
        <div class="spacer" *ngIf="deviceSize == 'd'"></div>
        <div class="spacer"></div>
        <div class="spacer"></div>
        <div class="top-div row bs-x0">
          <h2 data-aos="fade-right">นโยบายของพรรค</h2>
          <button [ngClass]="fontSizeSelect == 0 ? 'p16' : fontSizeSelect == 1 ? 'p14' : 'p12'" class="view-all" data-aos="fade-left" [routerLink]="['/policy']">ดูทั้งหมด</button>
        </div>
        <div class="spacer"></div>
        <div class="row gap-3">
          <div class="col-12 d-flex" *ngFor="let i of policyList.slice(0,2); let idx = index"
            [attr.data-aos]="idx % 2 === 0 ? 'fade-left' : 'fade-right'" [routerLink]="['/policy-detail', i.code]">

            <div class="card-policy">
              <div class="col-12 col-md-6 div-img-policy">
                <img [src]="i.imageUrl" alt="">
              </div>
              <div class="col-12 col-md-6 policy-des-box">
                <span [ngClass]="deviceSize == 'm' ? 'p14' : deviceSize == 't' ? 'p16' : 'p30'" class="title hidden-title">{{ i.title }}</span>
                <span [ngClass]="deviceSize == 'm' ? 'p12' : deviceSize == 't' ? 'p16' : 'p20'" class="des hidden-title">{{ i.description }}</span>
                <button [ngClass]="deviceSize == 'm' ? 'p14' : deviceSize == 't' ? 'p16' : 'p20'" class="view-more" (click)="goToDetail(i)">
                  ดูเพิ่มเติม <i class="material-icons">arrow_forward</i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="content-1 service-bg">
      <div class="div-content box" [class.animate]="isVisible" #animatedBox>
        <h2 class="c-white">
          {{ 'productAndService' | translate }}
        </h2>
        <span class="c-white">{{ 'productAndServiceSubtitle' | translate }}</span>
        <div class="spacer"></div>
        <div class="spacer d-none d-lg-block"></div>
        <div class="spacer d-none d-lg-block"></div>
        <div class="d-flex row div-group-service">
          <div class="col-12 col-md-6 col-lg-4 d-flex div-card-service">
            <div class="card-service">
              <div class="service-head">
                <img src="./../../../assets/icons/icon-sale.png" alt="" class="service-icon">
                <span class="service-title">
                  {{ 'proAndSerTitle1' | translate }}
                </span>
              </div>
              <span class="service-text">
                {{ 'proAndSerDes1' | translate }}
              </span>
            </div>

          </div>

          <div class="col-12 col-md-6 col-lg-4 d-flex div-card-service">
            <div class="card-service">
              <div class="service-head">
                <img src="./../../../assets/icons/icon-install.png" alt="" class="service-icon">
                <span class="service-title">
                  {{ 'proAndSerTitle2' | translate }}
                </span>
              </div>
              <span class="service-text">
                {{ 'proAndSerDes2' | translate }}
              </span>
            </div>


          </div>

          <div class="col-12 col-md-6 col-lg-4 d-flex div-card-service">
            <div class="card-service">
              <div class="service-head">
                <img src="./../../../assets/icons/icon-maintain.png" alt="" class="service-icon">
                <span class="service-title">
                  {{ 'proAndSerTitle3' | translate }}
                </span>
              </div>
              <span class="service-text">
                {{ 'proAndSerDes3' | translate }}
              </span>
            </div>


          </div>

          <div class="col-12 col-md-6 col-lg-4 d-flex div-card-service">
            <div class="card-service">
              <div class="service-head">
                <img src="./../../../assets/icons/icon-recomance.png" alt="" class="service-icon">
                <span class="service-title">
                  {{ 'proAndSerTitle4' | translate }}
                </span>
              </div>
              <span class="service-text">
                {{ 'proAndSerDes4' | translate }}
              </span>
            </div>


          </div>

          <div class="col-12 col-md-6 col-lg-4 d-flex div-card-service">
            <div class="card-service">
              <div class="service-head">
                <img src="./../../../assets/icons/icon-course.png" alt="" class="service-icon">
                <span class="service-title">
                  {{ 'proAndSerTitle5' | translate }}
                </span>
              </div>
              <span class="service-text">
                {{ 'proAndSerDes5' | translate }}
              </span>
            </div>


          </div>

          <div class="col-12 col-md-6 col-lg-4 d-flex div-card-service">
            <div class="card-service">
              <div class="service-head">
                <img src="./../../../assets/icons/icon-credit.png" alt="" class="service-icon">
                <span class="service-title">
                  {{ 'proAndSerTitle6' | translate }}
                </span>
              </div>
              <span class="service-text">
                {{ 'proAndSerDes6' | translate }}
              </span>
            </div>


          </div>

        </div>
      </div>

    </div> -->


  </div>
</div>
