<div class="hero-container responsive-hero">
    <div class="hero-visual-wrapper">
        <!-- 🔷 โลโก้ -->
        <div class="logo-wrapper">
            <img src="./assets/img/logo-full-c2_.png" class="logo-base" />
            <img src="./assets/img/logo-full-c1_.png" class="logo-reveal" />
        </div>
    </div>


    <!-- ✅ ปุ่มอยู่ใต้รูปทั้งหมด -->
    <div class="hero-buttons-floating">
        <button class="btn-hero delay-1" (click)="goTo('register')">
            <i class="fa fa-user-plus"></i>
            <span class="btn-text">ลงทะเบียนสมาชิกพรรค</span>
        </button>
        <button class="btn-hero delay-2" (click)="goTo('register-member')">
            <i class="fa fa-user-plus"></i>
            <span class="btn-text">สนใจร่วมงานกับพรรค</span>
        </button>
         <button class="btn-hero delay-3" (click)="goTo('donate')">
            <i class="fa fa-hand-holding-heart"></i>
            <span class="btn-text">ร่วมสนับสนุนพรรค</span>
        </button>
        <button class="btn-hero delay-4" (click)="goTo('home')">
            <i class="fa fa-home"></i>
            <span class="btn-text">เข้าหน้าหลัก</span>
        </button>
    </div>

</div>
