<!-- <div class="bg-circle"></div> -->

<div class="main">
  <div class="vertical">

    <div class="card-newdetail">
      <div class="back-button" (click)="goBack()">
        <span class="arrow">←</span>
        <span class="text">{{ 'returnHomePage' | translate }}</span>
      </div>
      <div class="spacer"></div>
      <div class="spacer"></div>
      <div class="card-detail">
        <!-- <span class="news-date">{{ formatThaiDate(model.createDate) }} | {{model.createBy}}</span> -->
        <img [src]="model.imageUrl" alt="" class="img-logo-des">
        <h3 [ngClass]="deviceSize == 'm' ? 'p18' : deviceSize == 't' ? 'p18' : 'p32'" class="txt-title"
          *ngIf="translate.currentLang === 'th'">{{ model.title
          }}</h3>
        <h3 [ngClass]="deviceSize == 'm' ? 'p18' : deviceSize == 't' ? 'p18' : 'p32'" class="txt-title"
          *ngIf="translate.currentLang === 'en'">{{ model.title
          }}</h3>
        <div class="txt-description p16" [innerHTML]="model.description" *ngIf="translate.currentLang === 'th'">
        </div>
        <div class="txt-description p16" [innerHTML]="model.descriptionEN" *ngIf="translate.currentLang === 'en'">
        </div>
        <h3 class="txt-title">{{ 'problemsOrigins' | translate }}</h3>
        <div class="txt-description p16">-</div>
        <h3 class="txt-title">{{ 'correctiveActionGuidelines' | translate }}</h3>
        <div class="txt-description p16">-</div>
      </div>
    </div>
  </div>
</div>
