<div class="container-header" data-aos="zoom-in-up">
  <div class="header-container"></div>
  <div class="header-text">
    <h1 class="title" [ngClass]="deviceSize == 'm' ? 'p20' : deviceSize == 't' ? 'p30' : 'p50'">{{'suggestion'|
      translate}}</h1>
    <p class="title" [ngClass]="deviceSize == 'm' ? 'p12' : deviceSize == 't' ? 'p20' : 'p20'">{{ 'home' | translate }}
      // <span class="sub-title">{{'suggestion'| translate}}</span></p>
  </div>
</div>
<div class="main">
  <div class="div-main">
    <div class="div-content">
      <span [ngClass]="deviceSize == 'm' ? 'p26' : deviceSize == 't' ? 'p28' : 'p38'"
        class="head-title d-flex align-items-center">
        {{'fillInformation'| translate}} {{'suggestion'| translate}}</span>
      <div class="spacer"></div>
      <div class="spacer"></div>
      <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)" novalidate>
        <div class="row row-form-gap">

          <div class="div-input col-lg-12 col-md-12 col-12">
            <select [(ngModel)]="model.category" name="category">
              <option value="" disabled>
                กรุณาเลือก
              </option>
              <option *ngFor="let c of modelCategory" [value]="c.code">
                {{ c.title }}
              </option>
            </select>
          </div>

          <div class="div-input col-lg-12 col-md-12 col-12">
            <label class="p18" for="">{{'email'| translate}} <span
                style="font-style: italic;">({{'suggestion-information'|translate}})</span></label>
            <input class="form-control" [(ngModel)]="model.email" name="email" type="email" required email name="email"
              #email="ngModel" [ngClass]="{ 'is-invalid': email.invalid && email.touched }">
          </div>

          <div class="div-input col-lg-12 col-md-12 col-12">
            <label class="p18" for="">{{'suggestion'| translate}}</label>
            <textarea class="form-control" [(ngModel)]="model.description" name="description" id="" rows="10" required
              description name="description" #description="ngModel"
              [ngClass]="{ 'is-invalid': description.invalid && description.touched }"></textarea>
          </div>
        </div>
        <div class="spacer"></div>
        <div class="spacer"></div>
        <div class="d-flex justify-content-center">
          <button class="btn-next p20" type="submit">{{'suggestion-confirm'| translate}}</button>
        </div>
      </form>
      <div class="modal-backdrop" *ngIf="isModalOpen">
        <div class="modal-box">
          <h2 class="p32">{{'suggestion-compleate'| translate}}</h2>
          <p class="p14">{{'suggestion-thankyou'| translate}}</p>
          <button (click)="closeModal()" class="btn-main p20">{{'returnHomePage'| translate}}</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="overlay-main">
  <app-coming-soon></app-coming-soon>
</div>
